<style>
    .form-group {
        display: inline-block;
        width: 90%;
    }
</style>
<form method="POST" action="" class="formbuilder form-area" novalidate >
    {% csrf_token %}
    {% if object.is_formset %}
        <div class="formset">
            {{ form.management_form }}
            <div class="sets">
                {% for form in form %}
                    <fieldset>
                        {% include 'form_builder/fields/fields.html' %}
                    </fieldset>
                {% endfor %}
            </div>
        </div>
    {% else %}
        {% include 'form_builder/fields/fields.html' %}
            {% if object.has_formset_childrens %}
                {% for form in children_formsets %}
                        <div class="formset">
                            {{ form.management_form }}
                            <div class="sets">
                                {% for form_child in form %}
                                    <div class="sets">
                                {% for form_child in form %}
                                    <div class="formset_header_wrapper" style="cursor: pointer;" data-toggle="collapse"
                                             data-target="#field_set_id_{{forloop.counter0}}"
                                             aria-expanded="false" aria-controls="consultancy_service">
                                        <div >{{ form.form_model_name }} {{forloop.counter}}
                                        </div>
                                    </div>
                                    <div class="accordion-body form_builder_formset collapse" id="field_set_id_{{forloop.counter0}}">
                                        <fieldset>
                                            <legend style="display: contents;">{{ form.form_model_name }}</legend>
                                        <div class="btn btn-danger delete pull-right" style="padding: 0 10px; margin:2px;font-size: 14px;"
                                    onclick="$.form_builder_delete_formset(event)">{% trans 'DELETE' %}</div>
    {#                                        {{ form.as_p }}#}
                                            {% include 'form_builder/fields/fields.html' with form=form_child %}
                                        </fieldset>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                {% endfor %}
            {% endif %}
    {% endif %}
    {% include 'form_builder/fields/submit.html' %}
</form>
