{% extends 'base_form_builder.html' %}
{% load sekizai_tags static i18n wizard_tags form_builder_tags %}

{% block title %}{{ form.name }}{% endblock %}

{% block content %}
    {% addtoblock "js" %}
        <script src="{% url 'form_builder:javascript-catalog' %}"></script>
        <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.ui.widget.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.iframe-transport.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.fileupload.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.formbuilder.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/zebra_datepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/eventsource.min.js' %}"></script>
        <script>
            jQuery(document).ready(function ($) {
                $('.formbuilder').each(function () {
                    var legend = $(this).find("legend");
                    if(legend.length > 0){
                     var formset_name = legend[legend.length-1].innerHTML
                    } else {
                        var formset_name = ""
                    }
                    var fb = new $.formBuilder($(this), {
                        addButtonTemplate: '<div class="add formset btn btn-primary form-group"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Add" %} formset_name {% trans "new" %} </div>'.replace('formset_name', formset_name ),
                        fileBrowseMessage: '',
                        fileTemplate: '<div class="uploader file-upload"><div class="file-upload"><input type="text" readonly="" class="form-control" placeholder="Please choose a file"> <div class="upload-btn">{% trans 'Browse' %} <div class="MultiFile-wrap" template="upload-button" id="MultiFile1"> </div> </div> </div><div class="docs-file-list"><div class="MultiFile-label new"><span><span class="MultiFile-label" template="file-name"><span class="MultiFile-title"></span></span></span></div></div></div>',
                        fileUpload: '<input type="file" style="display: none;">',
                        fileName: '<span class="MultiFile-title"></span>',
                        fileProgressBar: false,
                        errorHolders: {},
                        onUpload: function (e, plugin) {
                            $(e.target).parents(plugin.settings.fileUploadHolderClass).find('.docs-file-list').show()
                        },
                        onError: function (form, response) {
                            $(".form-group.has-error").removeClass('has-error');
                            $('.has-error .help-block').html("");
                            var data = response.responseJSON;
                            if (response.status == 400 && data['errors']) {
                                var errors = $.map(data['errors'], function (v, k) {
                                    if (k == 'error_message') {
                                        toastr.error(v);
                                    } else {
                                        if (k == '__all__')
                                            toastr.error(v);
                                        else {
                                            var field = $(form).find('[name=' + k + '],[name=' + k + '_0]');
                                            field.parentsUntil('.form-group').parent().addClass('has-error');
                                            if (field.parent().next() && field.parent().next().hasClass('help-block')) {
                                                field.parent().next().text(v);
                                            }
                                            else if(field.attr('type') == "file"){
                                                field.parent().parent().after('<div class="help-block">' + v + '</div>');
                                            }
                                            else {
                                                field.parent().after('<div class="help-block">' + v + '</div>');
                                            }
                                        }
                                    }
                                }).join('<br>');
                                response.responseJSON.errors = undefined;
                            }
                        }
                    });
                });
            });
        </script>
<script type="text/javascript" src="{% static 'js/form_builder_features.js' %}"></script>
    {% endaddtoblock %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/form_builder/form_builder.css' %}"/>
    {% endaddtoblock %}
    <div class="inner-wrapper">
        <div class="container">
            <div class="content-box funding-form">
                <h1>{{ object.name }}</h1>

                <div class="row pdt-25">
                    <div class="col-md-4 left">
                        {% include 'form_builder/multiple_form/multiple_form_steps.html' %}
                    </div>
                    <div class="col-md-8 right">
                        {% if object.description %}
                            {{ object.description|safe }}
                        {% endif %}
                        {% block print_link %}
                            {% get_files_for_step object as files %}
                            {% if files %}
                                {% for file in files %}
                                    <div class="funding-file button-row text-center mrt-50">
                                        <a href="{{ file.pdf.url }}" target="_blank"
                                           class="btn btn-primary btn-md btn-block-on-500">{{ file.button_text|truncatechars:'50' }}</a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endblock %}
                        <form method="POST" action="{% if True %} {{action_url}} {% else %}{% url 'form_builder:create' object.slug %}{% endif %}" class="form-area formbuilder" novalidate>
                        {% if form_template %}
                            {% include form_template %}
                        {% else %}
                            {% include 'form_builder/form.html' %}
                        {% endif %}
                        </form>
                        <div class="clearfix"></div>
                        {% include 'form_builder/fields/submit.html' %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
