{% load sekizai_tags %}
{% load i18n %}
{% load form_builder_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% if not object.is_single %}
    <ul class="steps">
    {% get_filled_form_id user_entries as forms_id %}
    {% if exclude_form_list %}
        {% for form in form_tree %}
            {% if form not in exclude_form_list %}
            <li data-form-id="{{ form.id }}" class="
                    {% for i in user_entries %}
                        {% if i.form.id == form.id %}prev{% endif %}
                    {% endfor %}
                    {% if form.id == object.id %} active {% endif %}">
                <h4><a class="form-list{% for i in user_entries %}{% if i.form.id == form.id %}prev{% endif %}{% endfor %}" {% if form.id in forms_id %}href="{{ form.get_absolute_url }}"
                       data-href="{{ form.get_absolute_url }}"
                {% endif %}>
                    {{ forloop.counter }}. {{ form.name|capfirst }}</a></h4>
            </li>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for form in form_tree %}
            <li data-form-id="{{ form.id }}" class="
                    {% for i in user_entries %}
                        {% if i.form.id == form.id %}prev{% endif %}
                    {% endfor %}
                    {% if form.id == object.id %} active {% endif %}">
                <h4><a class="form-list{% for i in user_entries %}{% if i.form.id == form.id %}prev{% endif %}{% endfor %}" {% if form.id in forms_id %}href="{{ form.get_absolute_url }}"
                       data-href="{{ form.get_absolute_url }}"
                {% endif %}>
                    {{ forloop.counter }}. {{ form.name|capfirst }}</a></h4>
            </li>
        {% endfor %}
    {% endif %}

{% endif %}
{% addtoblock 'js' %}
    <script>
        $(document).ready(function () {
            $('a.form-list').click(function (e) {
                e.preventDefault();
                var $this = $(this);
                var formBulider = $('form.formbuilder');
                var nextUrl = $this.attr('data-href');
                if (nextUrl) {
                    formBulider.attr('action', '?next-url=' + nextUrl);
                    formBulider.submit();
                    formBulider.attr('action', '');
                }
            });
        });

        // $('form.formbuilder').attr('action', '?next-url=')
    </script>
{% endaddtoblock %}

