{% load form_builder_tags wizard_tags i18n %}
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
{% with field_count=1 %}
{% comment %}  {% template_dir form.fields %} {{ form.fields.auth_2 }} {{resubmission_form_tree}}  {% endcomment %}
{% for key, value in resubmission_form_tree.items %}
    {% for resubmit_field in value %}
        {% with a_form=total_form_tree|get_value_from_dict:key.id %}
            {% for form_field in a_form.visible_fields %}
                {% if form_field.name == resubmit_field.field.name %}
                    {% get_template_for_field form_field as template_name %}
                    {% get_field_widget_for_field form_field as field_widget %}
                    {% if form_field.field.widget.above_field_paragraph %}
                        <div class="before_rest_form_field">{{ form_field.field.widget.above_field_paragraph|safe }}</div>
                    {% endif %}
                    <div class="rest_form_field">
                        {% if form_field.name == "DELETE" or field_widget == "NoReCaptchaWidget" %}
                        {% include template_name %}
                        {% else %}
                        <label style="vertical-align: top;">{% trans 'Resubmit for the form: ' %} {{ key.name }}</label>
                            {% if key.is_formset %}
                            <table class="table table-striped nftbl">
                                <thead>
                                    <tr>
                                        <th>{% trans 'Field Name' %}</th>
                                        <th>{% trans 'Field Value' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for a_field in resubmit_field.field_entry.entry.field_entries.all %}
                                    <tr>
                                        <td>{{ a_field.field.label }}</td>
                                        <td> {{a_field.get_value }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% add_field_entry_to_field_name form_field resubmit_field.field_entry.id as field  %}
                            <label style="vertical-align: top;"></label>{% include template_name %}
                            {% else %}
                            {% add_field_entry_to_field_name form_field resubmit_field.field_entry.id as field  %}
                            <label style="vertical-align: top;"></label>{% include template_name %}
                            {% endif %}
                            {% update_variable field_count|add:1 as field_count %}
                        {% endif %}
                    </div>
                    {% if form_field.field.widget.below_field_paragraph %}
                        <div class="after_rest_form_field">{{ field.field.widget.below_field_paragraph|safe }}</div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endwith %}
    {% endfor %}
{% endfor %}
{% endwith %}

