<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>PDF Template</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <style>
        body{
            font-family: 'Open Sans', sans-serif;
            font-size:14px;
            direction:rtl;
            }
        .wrapper{
            width:800px;
            margin:0 auto;
            }
        .pdftable{
            border:2px solid #F0EFEF;
            direction:rtl;
            }
        .pdftable td{
            padding:5px;
            }
        .h1style{
            font-size:28px;
            color:#3d3d3d;
            margin:0px;
            padding:0px;
            }
        .h2style{
            font-size:20px;
            color:#3d3d3d;
            margin:0px;
            padding:0px;
            text-align:right;
            }
        .table td{
            border:1px solid #F0EFEF;
            }
        .table thead td{
            background-color: #F0EFEF;
            color:#000;
            font-weight:700;
            text-align:right;
	    }
        table { page-break-inside:auto }
        tr    { page-break-inside:avoid; page-break-after:auto }
    </style>
</head>


<body>
    <div class="wrapper">
        <table width="100%" border="0" class="pdftable">
            <tbody>
                <tr>
                    <td align="center"><img src="{{ STATIC_URL }}/images/pdf/logo.jpg" width="490" height="77" alt="" />
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <h1 class="h1style">{{ master_form.name }}</h1>
                    </td>
                </tr>

                {% for entry in entries.all %}

                    <tr>
                        <td align="center">
                            <h2 class="h2style">{{ entry.form.name }}</h2>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table width="100%" border="0">
                                <tbody>
                                    {% for field_entry in entry.field_entries.all %}
                                        <tr>
                                            <td width="30%" align="left"><strong>{{ field_entry.field.label }}:</strong></td>
                                            {% if field_entry.value %}
                                                <td width="70%" align="right">{{ field_entry.get_value }}</td>
                                            {% else %}
                                                <td width="70%" align="right">{{ field_entry.file }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
</body>

</html>