{% load i18n material_form staticfiles form_builder_utility_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    {% include 'material/includes/material_css.html' %}
    <link href="{% static 'css/form_builder/dashboard_custom.css' %}" type="text/css" rel="stylesheet">
    {% block extracss %}{% endblock %}
</head>
<body>
    <ul id="dropdown4" class="dropdown-content">
        {% for form in sidebar_forms %}
        <li class="">
            <a href="{% url 'form_dashboard:submission_form' path=form.slug %}">{{ form.name|truncatechars:'25' }}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'admin:logout' %}" class="right logout"><span class="name center">{% trans 'Logout' %}</span></a>
            {% for language in languages %}
                {% if not language.code == LANGUAGE_CODE %}
                    <a href="{% change_lang language.code %}" class="right logout"><span class="name center">{{ language.name_local }}</span></a>
                {% endif %}
            {% endfor %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                {% if not language.code == LANGUAGE_CODE %}
                    <a href="{% change_lang language.code %}" class="right logout"><span class="name center">{{ language.name_local }}</span></a>
                {% endif %}
            {% endfor %}

        </div>
    </nav>
    </div>
    <div class="content">
        <div class="row">
            <div class="col s12 m12 l12 ">
                <div class="card-panel">
                    {% if messages %}
                        <div class="row" id="alert_box">
                            <div class="col s12 m12">
                                <ul class="messages">
                                    {% for message in messages %}
                                        <div class="card text-{{ message.tags }} darken-1">
                                            <div class="row">
                                                <div class="col s12 m10">
                                                    <div class="card-content white-text">
                                                        <p>{{ message }}</p>
                                                    </div>
                                                </div>
                                                <button type="button" class=" icon_style white-text" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% include 'material/includes/material_js.html' %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.icon_style').click(function () {
            $("#alert_box").fadeOut("slow", function () {
            });
        })
    });
</script>
{% block extrajs %}
{% endblock %}
</body>
</html>
