{% extends 'dashboard/base.html' %}
{% load material_form i18n staticfiles %}
{% block navbar %}
    <a href="{% url 'form_dashboard:index' %}">{% trans 'Dashboard' %}</a>
    <a class="active">{{ title }}</a>
{% endblock %}
{% block content %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% if LANGUAGE_BIDI %}
<style>
    .row .col.s6 {
        float: right !important;
    }
</style>
{% endif %}
<div class="container-fluid">
    <div class="container" style="margin-bottom: 50px;">
        <a href="{{request.path}}?chart_type=pie" class="waves-effect waves-light btn" {% if chart_type == 'pie' %}style="background-color: #fd5f60;"{% endif %}>Pie Chart</a>
        <a href="{{request.path}}?chart_type=bar" class="waves-effect waves-light btn" {% if chart_type == 'bar' %}style="background-color: #fd5f60;"{% endif %}>Bar Chart</a>
    </div>
    <div id="plotly-holder">
        <div class="row">
            {% for a_graph in charts %}
                <div class="col s6">
                    {{ a_graph|safe }}
                </div>
            {% endfor %}


        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}


{% endblock %}