{% extends 'dashboard/base.html' %}
{% load material_form i18n staticfiles %}
{% block navbar %}
    <a href="{% url 'form_dashboard:index' %}">{% trans 'Dashboard' %}</a>
    <a class="active">{{ title }}</a>
{% endblock %}
{% block content %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% if LANGUAGE_BIDI %}
<style>
    .row .col.s6 {
        float: right !important;
    }
</style>
{% endif %}
<div class="container-fluid">
    <div class="container" style="margin-bottom: 50px;">
        <a href="{{request.path}}?chart_type=pie" class="waves-effect waves-light btn" {% if chart_type == 'pie' %}style="background-color: #fd5f60;"{% endif %}>Pie Chart</a>
        <a href="{{request.path}}?chart_type=bar" class="waves-effect waves-light btn" {% if chart_type == 'bar' %}style="background-color: #fd5f60;"{% endif %}>Bar Chart</a>
    </div>
    <!--<div id="plotly-holder">-->
        <!--<div class="row">-->
            <!--{% for a_graph in graphs %}-->
                <!--<div class="col s6">-->
                    <!--{{ a_graph|safe }}-->
                <!--</div>-->
            <!--{% endfor %}-->


        <!--</div>-->
    <!--</div>-->
    {{ graph|safe }}
    <div id="canvas-holder">
        <div class="row">
            <div class="col s6" style="display: none">
                <canvas id="chart-area" style="display:none"/>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
<style></style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
<script type="text/javascript">
    var originalData = {{ data }};

    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };


    function getChartConfig(chartTitle, chartColors, labels, chartData) {
        return {
            type: '{{chart_type}}',
            data: {
                datasets: [{
                    label: chartTitle,
                    data: chartData,
                    backgroundColor: chartColors
                }],
                labels: labels
            },
            options: {
                responsive: true,
                title: {
                display: true,
                text: chartTitle,
                position: 'bottom'
                },
                {% if chart_type == 'bar' %}
                legend: {
                    display: false
                },
                scales: {
                     yAxes: [{
                        ticks: {
                           min: 0,
                        }
                     }]
                }
                {% endif %}
            }
        };
    }


    window.onload = function() {
        var i=1;
        for (var key in originalData) {
            var parentObject = originalData[key];
            var chartTitle = key;
            var chartLabels = [];
            var chartData = [];
            var chartColors = [];
            var chartColorsList = Object.keys(window.chartColors);
            var j=0;
            for (var childKey in parentObject) {
                chartLabels.push(childKey);
                chartData.push(parentObject[childKey]);
                chartColors.push(window.chartColors[chartColorsList[j]]);
                j++;
            }
            var config = getChartConfig(chartTitle, chartColors, chartLabels, chartData);
            var chartAreaId = "chart-area-" + i;
            var chartArea = $("#chart-area").clone().attr("id", chartAreaId).css({"display": "block","float":"left"});
            $('#canvas-holder .row').append('<div class="col s6 graph'+i+'"></div>');
            $('#canvas-holder .row .graph'+i).append(chartArea);
            var ctx = document.getElementById(chartAreaId).getContext("2d");
            window.myPie = new Chart(ctx, config);
            i++;
        }
    };
</script>

{% endblock %}