{% extends 'dashboard/base.html' %}
{% load material_form i18n staticfiles %}
{% block navbar %}
    <a href="{% url 'form_dashboard:index' %}">{% trans 'Dashboard' %}</a>
    <a class="active">{{ title }}</a>
{% endblock %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/nestable.css' %}">
{% endblock %}
{% block content %}
    <h4 class="header2 center">{{ title }}</h4>
    <div class="row">
        <div class="col s12">
            <a class="btn right"
               href="{% url 'form_dashboard:create_form' %}">{% trans 'Add New Form' %}</a>
        </div>
    </div>
    <div class="dd" id="nestable">
        {% for item, info in children_forms %}
            {% if info.open %}
                <ol class="dd-list">
                <li class="dd-item dd3-item" data-id="{{ item.id }}">
                    {% else %}
                </li>
                <li class="dd-item dd3-item" data-id="{{ item.id }}">
            {% endif %}
        <div class="dd-handle dd3-handle">
        </div>
        <div class="dd3-content">
            <a href="{% url 'rest_form:create'  path=item.url_path %}" target="_blank">
                {{ item|capfirst }}
            </a>
            <a class="right"
               href="{% url 'form_dashboard:edit_form' item.id %}">{% trans 'Edit' %}
                <i class="material-icons tiny">mode_edit</i></a></div>
        {% for close in info.close %}
            </li></ol>
        {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
{% block extrajs %}
    <script src="{% static 'js/jquery.nestable.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $(document).ready(function () {
            $('#nestable').nestable({
                dropCallback: function (details) {
                    if (details.destId) {
                        $.post("{% url 'form_dashboard:sortable_form' %}", {
                            'node_id': details.sourceId,
                            'parent_id': details.destId,
                            'next_sibling_id': details.next_sibling,
                            'prev_sibling_id': details.prev_sibling
                        })
                                .done(function (data) {
                                    Materialize.toast(data.message, 5000, 'green white-text');
                                    location.reload(true)
                                })
                                .fail(function (data) {

                                })
                    }
                }
            });
        });
    </script>
{% endblock %}