{% extends 'dashboard/base.html' %}
{% load material_form i18n staticfiles %}
{% block navbar %}
    <a href="{% url 'form_dashboard:index' %}">{% trans 'Dashboard' %}</a>
    <a class="active">{{ title }}</a>
{% endblock %}
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col s12 center red-text">
                <h5>{% trans 'Are you sure you want to delete the selected ' %}"{{ object.name }}"
                    {{ type }} ?</h5>
                {% for children in children_forms %}
                    {% if forloop.first %}
                        <h5>{% trans 'This form has children form that will be deleted: ' %}</h5>
                        <ul class="collection col s6 offset-s3">{% endif %}
                <li class="collection-item">{{ children.name }} {{ type }}</li>
                {% if forloop.last %}</ul>{% endif %}
                {% endfor %}
            </div>

            <div class="col offset-s4 center">
                <a class="btn" onclick="window.history.back(); return false;">{% trans 'Back' %}</a>
            </div>
            <div class="col s2 center">
                <button type="submit" name="_submit" class="btn">{% trans 'Delete' %}</button>
            </div>
        </div>
    </form>
{% endblock %}