{% extends 'dashboard/base.html' %}
{% load material_form i18n staticfiles wizard_tags %}
{% load rest_form_tags %}
{% block navbar %}
    <a href="{% url 'form_dashboard:index' %}">{% trans 'Dashboard' %}</a>
    <a class="active">{{ title }}</a>
{% endblock %}
{% block content %}

<style>
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
{% if LANGUAGE_CODE == 'ar' %}
    body{
      direction: rtl;
    }

    .row .col{
       float: right
    }
{% endif %}
</style>
<script>
    function openForm(evt, formName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(formName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

<div class="tab">
    {% for form_name in all_forms_name %}
        <button class="tablinks {% if forloop.counter = 1 %} active {% endif %}" onclick="openForm(event, '{{ form_name }}')">{{ form_name }}</button>
    {% endfor %}
</div>

<!-- Tab content -->
{% for form_name in all_forms_name %}
<div id="{{ form_name }}" class="tabcontent {% if forloop.counter = 1 %} active {% endif %}" {% if forloop.counter = 1 %} style="display: block;" {% endif %}>
  <h5>{{form_name}}</h5>
  <form action="" method="post" enctype="multipart/form-data" class="formbuilder">
      {% csrf_token %}
      <input type="hidden" id="form_name_id" name="form_name" value="{{ form_name }}">
      {% for a_form in all_forms|get_value_from_dict:form_name %}
            {% for field in a_form.visible_fields %}
                <div class="row">
                    <div class="col s4">
                        {{ field.label }}

                    </div>
                    <div class="col s8">
                        {% if field.field.widget.input_type == "file" %}
                        {{ initial_values|get_value_from_dict:form_name|get_value_from_dict:field.name|safe }}
                        <br>
                        {% endif %}
                        {% if a_form.form_model.enable_edit_submit %}
                        {% get_template_for_field_submit_detail field as template_name %}
                        {% include template_name %}
                        {% else %}
                        {{ initial_values_dispaly|get_value_from_dict:form_name|get_value_from_dict:field.name|safe }}
                        {% endif %}

                    </div>
                </div>
                <hr>
            {% endfor %}
            {% if a_form.form_model.use_verification %}
                 <div class="row">
                    <div class="col s4">
                        {% trans 'Verified Company' %}
                    </div>
                    <div class="col s8">
                        {{ verified_company }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col s4">
                        {% trans 'Verified Email' %}
                    </div>
                    <div class="col s8">
                        {{ verified_email }}
                    </div>
                  </div>
                  <hr>
            {% endif %}
          <br>
          <br>
          {% if a_form.form_model.enable_edit_submit %}<input type="submit" value="Submit">{% endif %}
      {% endfor %}
  </form>
</div>
{% endfor %}

<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("{{ all_forms_name.0 }}").click();
</script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script>
$('.other-choice-button').bind('change', function(e){
    if ($(this).is(':checked') && $(this).hasClass('other-choice-trigger')) {
        $(this).parents('ul').next().next().show();
    } else {
        $(this).parents('ul').next().next().hide();
    }
});
$('.other-choice-trigger').each(function(){
    if ($(this).is(':checked')) {
        $(this).parents('ul').next().next().show();
    }
})

</script>
{% endblock %}


