{% extends 'dashboard/base.html' %}
{% load material_form i18n staticfiles %}
{% block navbar %}
    <a href="{% url 'form_dashboard:index' %}">{% trans 'Dashboard' %}</a>
    <a class="active">{{ title }}</a>
{% endblock %}
{% block content %}
    <h4 class="header2">{{ title }}</h4>
    {% if type == 'form' %}
      <div class="row">
        <div class="col s12">
            <a class="btn right" target="_blank"   href="{% url 'rest_form:create' path=object.slug %}">{% trans 'View on site' %}</a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <form method="POST">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            {% if formset %}
                <h4 class="header2">{{ inline_title }}</h4>
                {{ formset.management_form }}
                <div class="form_set">
                    {% for f in formset %}
                        {% form form=f %}{% endform %}
                    {% endfor %}
                </div>
                <div class="extra">
                </div>
                <button type="button" class="btn waves-effect waves-light card-panel"
                        id="add-more">{% trans 'Add New' %} {{ formset.form.name }}
                </button>
            {% endif %}
            <div class="col l12 center">
                <button type="submit" name="_submit" class="btn">
                    {% if object %}
                        {% trans 'Update' %}
                    {% else %}
                        {% trans 'Create' %}
                    {% endif %}
                </button>
                <button type="submit" name="_addanother" class="btn" value="addanother">
                        {% if object %}
                            {% trans 'Update and Add another' %}
                        {% else %}
                            {% trans 'Create and Add another' %}
                        {% endif %}
                </button>
                {% if object %}
                    <a class="btn" href="{% url 'form_dashboard:delete' type object.id %}">{% trans 'Delete' %}</a>
                {% endif %}
            </div>

            {% if formset %}
                <script type="text/html" class='no_error' style="display: none">
                    {% form form=formset.empty_form %}{% endform %}
                </script>
            {% endif %}
        </form>
    </div>
{% endblock %}
{% block extrajs %}
    {% if formset %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('#add-more').click(function () {
                    var form_idx = $('#id_form-TOTAL_FORMS').val();
                    $('.extra').append($('.no_error').html().replace(/__prefix__/g, form_idx));
                    $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
                    $('select').material_select();
                });
            });
        </script>
    {% endif %}
{% endblock %}
