{% extends 'dashboard/base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Dashboard' %}
{% endblock %}
{% block navbar %}
    <a href="{% url 'form_dashboard:index' %}">{% trans 'Dashboard' %}</a>
{% endblock %}
{% block content %}
    <div class="row">
        {% if request.user.is_superuser %}
        <div class="col s12">
            <div class="card-content">
                <h5 class="card-title black-text center form-title "><span>{% trans 'Forms Tools' %}</span></h5>
                <div class="row  center">
                    <div class="form-btn col s6 m6 l3">
                        <a href="{% url 'form_dashboard:create_form' %}"
                           class="btn-large waves-effect waves-light">{% trans 'Create Form' %}</a>
                    </div>
                    <div class="form-btn col s6 m6 l3 ">
                        <a href="{% url 'form_dashboard:create_field' %}"
                           class="btn-large waves-effect waves-light">{% trans 'Create Field' %}</a>
                    </div>
                    <div class="form-btn col s6 m6 l3">
                        <a href="{% url 'form_dashboard:list_view' 'form' %}"
                           class="btn-large waves-effect waves-light">{% trans 'See All Form' %}</a>
                    </div>
                    <div class="form-btn col s6 m6 l3 ">
                        <a href="{% url 'form_dashboard:list_view' 'field' %}"
                           class="btn-large waves-effect waves-light">{% trans 'See All Field' %}</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col s12">
                <div class="card-content">
                    <h5 class="card-title black-text center form-title "><span>{% trans 'Parent Forms' %}</span></h5>
                    <div class="row  center">
                        {% for form in sidebar_forms %}
                            <div class=" form-btn col s6 m6 l3">
                                <a href="{% url 'form_dashboard:children_form' path=form.slug %}"
                                   class="btn-large waves-effect waves-light">
                                    {% trans 'See ' %}{{ form.name|truncatechars:'13' }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {% endif %}
        <div class="row">
            <div class="col s12">
                <div class="card-content">
                    <h5 class="card-title black-text center form-title ">
                        <span>{% trans 'Submissions' %}</span></h5>
                    <div class="row center">
                        {% for form in sidebar_forms %}
                            <div class="form-btn col s6 m6 l3">
                                <a href="{% url 'form_dashboard:submission_form' path=form.slug %}"
                                   class="btn-large waves-effect waves-light">{{ form.name|truncatechars:'13' }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}