{% extends 'dashboard/base.html' %}
{% load material_form i18n staticfiles %}
{% block navbar %}
    <a href="{% url 'form_dashboard:index' %}">{% trans 'Dashboard' %}</a>
    <a class="active">{{ title }}</a>
{% endblock %}
{% block content %}
    <h4 class="header2 center">{{ title }}</h4>
    <div class="row">
        <div class="col s12">
            {% if type == "form" %}
                <a class="btn right"
                   href="{% url 'form_dashboard:create_form' %}">{% trans 'Add New Form' %}</a>
            {% elif type == "field" %}
                <a class="btn right"
                   href="{% url 'form_dashboard:create_field' %}">{% trans 'Add New Field' %}</a>
            {% endif %}
        </div>
    </div>
    {% for obj in object_list %}
        <div class="row obj-list">
            {% if type == "form" %}
                <div class="col s7">
                    <a href="{% url 'rest_form:create'  path=obj.url_path %}"
                       target="_blank">{{ obj.name|capfirst }}</a>
                </div>
                <div class="col s5">
                    <a href="{% url 'form_dashboard:edit_form' obj.id %}">{% trans 'Edit' %}<i
                            class="material-icons tiny">mode_edit</i></a> | <a
                        href="{% url 'form_dashboard:delete' 'form' obj.id %}">{% trans 'Delete' %}<i
                        class="material-icons tiny">delete</i></a>
                </div>
            {% elif type == "field" %}
                <div class="col s7">
                    {{ obj.name|capfirst }}
                </div>
                <div class="col s5">
                    <a href="{% url 'form_dashboard:edit_field' obj.id %}">{% trans 'Edit' %}<i
                            class="material-icons tiny">mode_edit</i></a> | <a
                        href="{% url 'form_dashboard:delete' 'field' obj.id %}">{% trans 'Delete' %}<i
                        class="material-icons tiny">delete</i></a>
                </div>
            {% endif %}
        </div>
        <hr>
    {% empty %}
        <div class="row obj-list">
            <div class="col s12">
                {% trans 'No available' %}
            </div>
        </div>
    {% endfor %}
{% endblock %}