{% load material_form i18n staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    {% include 'material/includes/material_css.html' %}
    <link href="{% static 'css/form_builder/dashboard_custom.css' %}" type="text/css" rel="stylesheet">
    {% block extracss %}{% endblock %}
</head>
<body>
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col l4 s12 m8 offset-l4 offset-m2">
                <div id="login-container" class="card">
                    <div id="login" class="page-topbar ">
                        <nav class="">
                            <div class="nav-wrapper">
                                <div class="col s12">
                                    <a class="brand-logo center">{% trans 'Dashboard Login' %}</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div id="content" class="colM">
                        <div class="row">
                            <div class="col l12 s12 m12">
                                <div id="content-main">
                                    <form action="{% url 'form_dashboard:login' %}" method="post">
                                        {% csrf_token %}
                                        {% form form=form %}{% endform %}
                                        <div class="row">
                                            <div class="input-field col s12 center">
                                                <button class="btn  waves-effect waves-light " type="submit"
                                                        name="action">{% trans 'Log in' %}
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% include 'material/includes/material_js.html' %}
</body>
</html>