{% extends 'dashboard/base.html' %}
{% load material_form i18n staticfiles wizard_tags %}
{% block navbar %}
    <a href="{% url 'form_dashboard:index' %}">{% trans 'Dashboard' %}</a>
    <a class="active">{{ title }}</a>
{% endblock %}
{% block extracss %}
<style>
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding:0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

{% if LANGUAGE_CODE == 'ar' %}
    .row .col.s9{
        direction:rtl;
    }
        
        .row .col.s3{
            text-align: right;
        }

    .select-wrapper input.select-dropdown{
        text-align: right;
    }

    .row .col{
       float: right
    }
    form p{
  text-align: right;
}

.select-wrapper span.caret{
   left:0;
   right: inherit;
}

.dropdown-content li{
   text-align: right;
}

ul:not(.browser-default){
 padding-right:0px;
    right: 0px;
    left: 0px;
}
.right {
    float: left !important;
}

.left {
    float: right !important;
}
{% endif %}

</style>
{% endblock %}
{% block content %}
    <h4 class="header2 center">{{ title }}</h4>
    <div class="row">
        <div class="col s9">
            <div class="scrolldiv">
            <div class="row obj-list">
                <div class="col s1">
                    <input type="checkbox" class="filled-in selectall" name="maincheckbox" id="main" />
                          <label for="main"></label>
                </div>
                <div class="col s1">
                    {% trans 'Username' %}
                </div>

                <div class="col s1">
                    {% trans 'Export' %}
                </div>
                <div class="col s1">
                    {% trans 'Attachments' %}
                </div>
                {% for key in keys %}
                <div class="col s1">
                   {{ key }}
                </div>
                {% endfor %}
            </div>
            <hr>
            {% for obj in filter %}
                <div class="row obj-list">
                    <div class="col s1">
                         <input type="checkbox" class="filled-in check" name="mycheckboxes" value="{{ obj.id }}" id="{{ obj.id }}" />
                          <label for="{{ obj.id }}"></label>
                    </div>
                    <div class="col s1">
                       <a href="{% url 'form_dashboard:submission_form_detail'  form_slug obj.pk %}">{{ obj.submitter }}</a>
                    </div>
                    <div class="col s1">
                        <a href="{{ obj.get_export_to_pdf_url }}" target="_blank">{% trans 'Export' %}</a>
                    </div>
                    <div class="col s1">
                        <a href="{{ obj.get_download_attachments_url }}" target="_blank">{% trans 'Download' %}</a>
                    </div>
                    {% for k in keys %}
                    {% with forloop.counter0 as index %}
                    <div class="col s1">
                    {% get_value_by_pk extra_field obj.pk index %}
                    </div>
                    {% endwith %}
                    {% endfor %}

                </div>
                <hr>
            {% empty %}
                <div class="row obj-list">
                    <div class="col s12">
                        {% trans 'No submission available' %}
                    </div>
                </div>
            {% endfor %}
            {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                <li class="disabled"><i class="material-icons">chevron_left</i></li>
                {% endif %}
                {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="active">{{ i }}</li>
                {% else %}
                <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                {% else %}
                <li class="disabled"><i class="material-icons">chevron_right</i></li>
                {% endif %}
            </ul>
            {% endif %}
            <span>{% trans 'Total application : ' %}{{ count }}</span>
        </div>
        </div>
        <div class="col s3">
            <a href="{% url 'form_dashboard:export_all' form_slug %}" class="btn tooltip exp">{% trans 'Export Data'%}</a>
            <br>
            <br>
            <a href="{% url 'form_dashboard:charts_form' form_slug %}" class="btn tooltip">{% trans 'Choice field Chart'%}{% if not has_choice_field %}<span class="tooltiptext">{% trans 'No Choice Fields are submitted.' %}</span>{% endif %}</a>
            <h5>{% trans 'Filter' %}</h5>
            <form action="" method="get">
                {{ all_data.form.as_p }}
                {% if all_fields %}
                {% for key,value in all_fields.items %}
                <span>{{ key }}</span>
                    <select name="{{ key }}" multiple>
                        <option value="">---------</option>
                        {% for obj in value %}
                            {% for field, pk in obj.items %}
                            <option value="{{ pk }}" >{{ field }}</option>
                        {% endfor %}
                        {% endfor %}
                </select>
                {% endfor %}
                <button type="submit" name="_submit" class="btn">{% trans 'Filter Result' %}</button>
                {% endif %}
            </form>

        </div>
    </div>

{% endblock %}
{% block extrajs %}
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('click', '.selectall', function () {
            if ($(this).is(':checked')) {
                $('input:checkbox[name=mycheckboxes]').prop('checked', true);
            } else {
                $('input:checkbox[name=mycheckboxes]').prop('checked', false);
            }
        });
        $(document).on('click', '.check', function () {
            if (!$(this).is(':checked')) {
                $('.selectall').prop('checked', false);
            }
        });
        $('.exp').click(function () {
            var ids = [];
            $("input:checkbox[name=mycheckboxes]:checked").each(function () {
                ids.push($(this).val());
            });
            if ($(this).attr('href').indexOf('?ids=') > 0) {
                 $(this).attr('href', $(this).attr('href').slice(0, $(this).attr('href').indexOf('?')));
            }
            $(this).attr('href',$(this).attr('href')+"?ids="+ids)
        })
    });
</script>
{% endblock %}