header, main, footer {
    padding-left: 300px;
}

nav#dashboard {
    padding-left: 40px;
}

.form-title {
    padding-bottom: 20px;
}

nav.breadcrumbs a:not(:first-child):before {
    content: "\E5CC";
    color: hsla(0, 0%, 100%, .7);
    vertical-align: top;
    display: inline-block;
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0 5px 0 4px;
    -webkit-font-smoothing: antialiased;
}

.obj-list {
    margin: 0px;
    padding: 10px 0px;
}

.form-btn {
    padding: 15px 0px !important;
}

.icon_style {
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
    color: #fff;;
}

.icon_style:focus {
    background-color: transparent;
}

.text-success {
    background-color: #66bb6a !important;

}

.text-error {
    background-color: #EF5350 !important;
}

header .brand-logo {
    margin: 1px 0px;
    padding: 0px 60px;
}

#login-container {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    margin: 100px auto;
}

.logout {
    padding: 0px 40px;
}

#content-main {
    margin-top: 20px;
}

.pagination li {
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    vertical-align: top;
    height: 30px;
    background-color: lightblue;
}

.pagination li a {
    color: black;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}

.pagination li.active a {
    color: #fff;
}

.pagination li.active {
    color: black;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}

.pagination li.disabled a {
    cursor: default;
    color: #999;
}

.pagination li i {
    font-size: 2rem;
}

.row .col.s9  {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
    overflow-y: hidden;
}

.scrolldiv{
    width:120%; 
}

.scrolldiv hr{
    width:120%;
}

.obj-list {
    width: 120%;
}

.scrolldiv .col.s1 {
    word-break: break-all;
}

.row .col.s1 {
    width: 10%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.form-area .options>li.radio {
    width: 90%;
}

.form-area .options>li {
    margin: 0 94px 10px 0;
    padding: 0;
}

.funding-form label {
    font-size: 19px;
}

.checkbox label, .radio label, .radio.gender label {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: -20px;
}

.checkbox label input, .radio label input, .radio.gender label input {
    display: none;
    margin: 0;
}

.formset_header_wrapper{
    background: lightgray;
    padding: 10px;
    margin: 5px 0 5px 0;
}

.deleted_formset_wrapper {
    color: red;
    text-decoration: line-through;
}

.form_builder_formset {
    border: 1px solid silver;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 20px;
}