body{
  direction: rtl;
}

.row .col{
   float: right
}

 .tab button{
    float: right;
}
.rest-form tr td:last-child, .rest-form  th:last-child{ float: left;
    width: 65%;
    text-align: right;
}
 .rest-form tr td:first-child, .rest-form  th:first-child{
          float: right;
width: 30%;
text-align: right;
}