label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    vertical-align: top;
}


.form-control {
    background: 0 0;
    border: 2px solid #f3f2ee;
    border-radius: 30px;
    height: 60px;
    color: #7b796f;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 400;
}

.form-area .form-group {
    margin-bottom: 20px
}

.change-password .form-area .form-group {
  margin: 0 0 28px
}

.form-group .file-name {
  color: #234156;
  font-size: 16px;
  padding-top: 15px
}

label ~ div.form-group {
    display: inline-block;
    width: 90%;
}

.form-group label.control-label {
        padding-left: 0px;
}

.error-input, .error-input span {
    display: none;
}

.form-area .interest .vertical-list>li {
    display: block;
    margin: 0 0 20px;
    list-style-type: none;
}

.form-area .interest .vertical-list {
    margin: 0;
    padding: 0;
}

.file-upload {
    position: relative;
}


.file-upload .form-control {
    width: 75%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
}
.file-upload .upload-btn {
    float: right;
    border: 2px solid #f3f2ee;
    border-left: 0;
    border-radius: 0 30px 30px 0;
    width: 25%;
    height: 60px;
    line-height: 54px;
    font-size: 20px;
    font-family: Quicksand, sans-serif;
    text-align: center;
    cursor: pointer;
}

.file-upload .upload-btn input[type=file] {
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    display: block!important;
}

.btn-outline:active, .btn-outline:focus, .btn-outline:hover, .form-control {
    box-shadow: none;
}

.file-upload:after {
    content: "";
    display: block;
    clear: both;
}

.content-box {
    margin: 0 0 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, .1);
    padding: 30px 70px 50px;
}

.checkbox label, .radio label, .radio.gender label {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: -20px;
}

.checkbox label input, .radio label input, .radio.gender label input {
    display: none;
    margin: 0;
}

.form-area .options>li.radio {
    width: 90%;
}

.form-area .options>li:last-child {
    margin-right: 0;
}

.form-area .options>li {
    margin: 0 94px 10px 0;
    padding: 0;
}

.form-area .radio label input+span {
    line-height: 1.7;
}

.radio label input+span {
    display: block;
    min-height: 44px;
    padding-top: 12px;
    position: relative;
    padding-left: 64px;
}

.bootstrap-select .btn-default, .radio label input+span, .radio.gender label input+span {
    font-size: 20px;
    font-family: Quicksand, sans-serif;
    color: #7b796f;
    font-weight: 400;
}

.radio label input:checked+span:before {
    content: "";
    background: #11a9e1;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 100;
}

.radio label input:checked+span:after, .radio.gender label input:checked+span:after {
    border-color: #11a9e1;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.radio label input+span:after {
    content: "";
    position: absolute;
    top: 0;
    border-radius: 44px;
    left: 0;
    width: 44px;
    height: 44px;
    border: 2px solid #f3f2ee;
}

.ar .checkbox label input+span:after, .ar .form-area .education .list-inline li input, .ar .form-area .education .list-inline li.active+li:after, .ar .radio label input+span:after, .ar .radio.gender label input+span:after {
    right: 0;
    left: auto;
}

.ar .radio label input+span {
    padding-right: 64px;
    padding-left: 0;
}
.ar .form-area .options>li {
    margin: 0 0 10px 94px;
}
.ar .radio label input:checked+span:before {
    right: 7px;
    left: auto;
}

.has-error .help-block {
    color: red;
}

.form_builder_formset {
    border: 1px solid silver;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 20px;
 }

.submit_wrapper {
    margin: 20px 0px;
}

.formset_header_wrapper {
    text-align: center;
    margin: 20px 0px;
}