{% load i18n form_builder_tags %}
{% if field.html_name == 'gender' %}
    <div class="form-group gender-holder">
        <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
        <ul class="list-inline list-inline-stack-767" style="list-style-type: none;">
            {% for value,text in field.field.choices %}
                <li class="radio gender {% if not forloop.first %} female {% else %} {% endif %}">
                    <label><input  value="{{ value }}"
                                  {% if field.value|add:"0" == value %}checked="checked"{% endif %} type="radio"
                                  name="{{ field.html_name }}"><span>{{ text }}</span></label>
                </li>

            {% endfor %}
        </ul>
        <div class="error-message help-block no-delete"></div>
    </div>
{% else %}
    <div class="form-group">
        <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
        <ul class="list-inline options list-inline-stack-767" style="list-style-type: none;">
            {% for value,text in field.field.choices %}
                {% if value %}
                <li class="radio"><label>
                    <input value="{{ value }}" {% if field.value|add:"0" == value %}checked="checked"{% endif %}
                          class="form-control {% if field.field.required %}required{% endif %}" type="radio" name="{{ field.html_name }}"><span>{{ text }}</span></label></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="error-message help-block no-delete"></div>
    </div>
{% endif %}