{% load i18n %}

{% csrf_token %}
{% if object.is_formset %}
    <div class="formset">
        {{ form.management_form }}
        <div class="sets">
            {% for form in form %}
                <fieldset>
                    {#{{ form.as_p }}#}
                    {% include 'form_builder/fields/fields.html' %}
                </fieldset>
            {% endfor %}
        </div>
    </div>
{% else %}
    {#{{ form.as_p }}#}
    {% include 'form_builder/fields/fields.html' %}
        {% if object.has_formset_childrens %}
            {% for form in children_formsets %}
                    <div class="formset">
                        {{ form.management_form }}
                        <div class="sets">
                            {% for form_child in form %}
                            <div class="formset_header_wrapper" style="cursor: pointer;"
                                 {% if forloop.counter > 1 %}
                                    data-toggle="collapse"
                                     data-target="#field_set_id_{{forloop.counter0}}"
                                     aria-expanded="false" aria-controls="consultancy_service"
                                {% else %}
                                    data-toggle="collapse"
                                     data-target="#field_set_id_{{forloop.counter0}}"
                                     aria-expanded="true" aria-controls="consultancy_service"
                                {% endif %}>
                                <legend style="display: contents;">{{ form.form_model_name }} </legend>
                            </div>
                            <div class="accordion-body {% if forloop.counter > 1 %}collapse{% endif %} " id="field_set_id_{{forloop.counter0}}">
                                <fieldset>
                                    <legend >{% blocktrans with form_model_name=form.form_model_name  %}New {{ form_model_name }}{% endblocktrans %} </legend>
                                    <div class="btn btn-danger delete {% if LANGUAGE_BIDI %}pull-left{% else %}pull-right{% endif %}" style="padding: 0 10px; margin:2px;font-size: 14px;"
                                onclick="$.form_builder_delete_formset(event)">{% trans 'DELETE' %}</div>
                                    {#{{ form.as_p }}#}
                                    {% include 'form_builder/fields/fields.html' with form=form_child %}
                                </fieldset>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
{% endif %}
