{% extends 'base_form_builder.html' %}
{% load sekizai_tags static i18n wizard_tags form_builder_tags %}

{% block title %}{{ form.name }}{% endblock %}

{% block content %}
    {% addtoblock "js" %}
        <script src="{% url 'form_builder:javascript-catalog' %}"></script>
        <script type="text/javascript" src="{% static "js/js.cookie.js" %}"></script>
        <script type="text/javascript" src="{% static "js/toastr.min.js" %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.ui.widget.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.iframe-transport.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.fileupload.js' %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.formbuilder.js" %}"></script>
        <script type="text/javascript" src="{% static "js/zebra_datepicker.js" %}"></script>
        <script type="text/javascript" src="{% static "js/eventsource.min.js" %}"></script>
        <script>
            jQuery(document).ready(function ($) {

                $('.formbuilder').each(function () {
                    var fb = new $.formBuilder($(this), {
                        addButtonTemplate: '',
                        fileBrowseMessage: '',
                        fileTemplate: '<div class="uploader file-upload"><div class="file-upload"><input type="text" readonly="" class="form-control" placeholder="Please choose a file"> <div class="upload-btn">{% trans 'Browse' %} <div class="MultiFile-wrap" template="upload-button" id="MultiFile1"> </div> </div> </div><div class="docs-file-list"><div class="MultiFile-label new"><span><span class="MultiFile-label" template="file-name"><span class="MultiFile-title"></span></span></span></div></div></div>',
                        fileUpload: '<input type="file" style="display: none;">',
                        fileName: '<span class="MultiFile-title"></span>',
                        fileProgressBar: false,
                        onInit: function(form) {
                            var hidden_field = $("#hidden-field").val();
                            if(!hidden_field)
                                hidden_field = "";
                            $('.hidden-field').val(hidden_field.concat("-{{ object }}"));
                        },
                        onUpload: function (e, plugin) {
                          $(e.target).parents(plugin.settings.fileUploadHolderClass).find('.docs-file-list').show()
                        },
                        onSuccess: function (form, response) {
                            var message = "{% trans 'Thank you for filling out your information!' %}";
                            if(!response.success_message){
                                response.success_message = message
                            }
                            $('.message').html(message);
                            $('.formbuilder').hide();

                        },
                        onError: function (form, response) {
                            $(".form-group.has-error").removeClass('has-error');
                            $('.has-error .help-block').html("");
                            var data = response.responseJSON;
                            if (response.status == 400 && data['errors']) {
                                var errors = $.map(data['errors'], function (v, k) {
                                    if (k == 'error_message') {
                                        toastr.error(v);
                                    } else {
                                        if (k == '__all__')
                                            toastr.error(v);
                                        else {
                                            var field = $(form).find('[name=' + k + '],[name=' + k + '_0]');
                                            field.parentsUntil('.form-group').parent().addClass('has-error');
                                            if (field.parent().next() && field.parent().next().hasClass('help-block')) {
                                                field.parent().next().text(v);
                                            }
                                            else if(field.attr('type') == "file"){
                                                field.parent().parent().after('<div class="help-block">' + v + '</div>');
                                            }
                                            else {
                                                field.parent().after('<div class="help-block">' + v + '</div>');
                                            }
                                        }
                                    }
                                }).join('<br>');
                                response.responseJSON.errors = undefined;
                            }
                        }
                    });
                });
            });
        </script>
    <script>
        jQuery(window).on('load', function () {
            var i = jQuery('.display_field').attr('options');
            i = eval(i);
            jQuery.each(i, function (index, value) {
                jQuery('[data-field-id="'+value+'"]').hide();
            })
        });
        jQuery('.display_field').click(function () {
            var id = jQuery(this).attr('options');
            id = eval(id);
            var index = jQuery(this).attr('data-index');
            if (index){
                jQuery.each(id, function (ind, val) {
                if (index == ind){
                    jQuery('[data-field-id="'+val+'"]').show();
                }
                else {
                    jQuery('[data-field-id="'+val+'"]').hide();
                }
            });
            }
        });
    </script>
    {% endaddtoblock %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static "js/toastr.min.css" %}"/>
    {% endaddtoblock %}
    <div class="inner-wrapper">
        <div class="container">
            <div class="content-box">
                <h3 class="message text-center">{% trans 'Resubmission Form' %}</h3>
                {{ object.resubmission_intro|safe }}
                {% if submission_id and enable_resubmit %}
                <form class="form-area formbuilder" action="{% url 'rest_form:resubmit_view' submission_id %}" method="POST"
                      novalidate>
                    {% csrf_token %}
                    {% include 'rest_form/resubmit_form/fields.html' %}
                    {% include 'rest_form/fields/submit.html' %}
                </form>
                {% else %}
                <p>{% trans 'This resubmission link is not available now...' %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
