{% extends 'admin/change_form.html' %}
{% load admin_urls i18n %}

{% block object-tools-items %}
<li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
</li>
<li><a href="{% url 'admin:form_builder_formverificationcode_changelist' %}import/?form_id={{original.pk}}" class="import_link">{% trans "Import Verification Codes" %}</a></li>
<li><a href="{% url 'admin:form_builder_formverificationcode_changelist' %}export/?form_id={{original.pk}}" class="import_link" target="_blank">{% trans "Export Verification Codes" %}</a></li>
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
{% endblock %}

