{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
        {% if selected_form %}
            <li>
              <a href="{{ export_all_url }}" target="_blank">
                {% trans 'Export all form submissions' %}
              </a>
            </li>
        {% endif %}
  <!--<li><a href="{% url 'admin:form_builder_formverificationcode_changelist' %}import/" class="import_link" target="_blank">{% trans "Import Verification Codes" %}</a></li>-->
 <li><a href="import/" class="import_link">{% trans "Import all Verification Code" %}</a></li>
  <li><a href="export/{{ cl.get_query_string }}" class="export_link">{% trans "Export all Verification Code" %}</a></li>
  {{ block.super }}
{% endblock %}

