<div class="form-group">
    <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
    <div class="position-relative">
        {{ field }}
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
