<div class="row">

    <div class="col-sm-12{% if style.hide_label %} sr-only{% endif %}">
        {% if field.label %}{{ field.label }} {% if field.field.required %}<span class="formcomp">*</span>{% endif %} {% endif %}
    </div>

    <div class="col-sm-12">
        <input id="{{ field.id_for_label }}" class="checkbox-custom" type="checkbox" name="{{ field.html_name }}" value="true" {% if field.value %}checked{% endif %}>
        <label for="{{ field.html_name }}"  class="checkbox-custom-label">{% if field.help_text %}{{ field.help_text|safe }}{% endif %}</label>
    </div>

</div>