<div class="form-group interest" data-field-id="{{ field.field.widget.attrs.id }}">
    <label> {% if field.label %}{{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
    <ul class="vertical-list {% if field|length > 5 %}two-columns{% endif %}">
        {% for f in field %}
            <li>
                <div class="checkbox"><label>
                    <input id="{{ f.id_for_label }}" type="checkbox" name="{{ f.name }}"
                           value="{{ f.choice_value }}" {% if f.choice_value in field.value %}checked{% endif %}><span>{{ f.choice_label }}</span></label>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="error-message help-block no-delete"></div>
</div>
