<div class="form-group other-choice" data-field-id="{{ field.field.widget.attrs.id }}">
    <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
    <ul class="list-inline options list-inline-stack-767">
        {% for value, text, bool in field.field.widget.widgets.0.choices %}
            <li class="radio"><label>
                <input {% if field.field.initial.0 == value|slugify %}checked="checked"{% endif %}
                       class="other-choice-button {% if bool %}other-choice-trigger{% endif %}"
                       value="{{ value }}" type="radio" name="{{ field.html_name }}_0"><span>{{ text }}</span></label>
            </li>
        {% endfor %}
    </ul>
    <br>
    <input {% if field.field.initial.1 %}value="{{ field.field.initial.1 }}" {% endif %}
           class="form-control  other-choice-text" name="{{ field.html_name }}_1" style="display: none" type="text">
    {% if field.help_text %}<span style="font-size: small">{{ field.help_text }}</span>{% endif %}
</div>


