{% load sekizai_tags %}
{% load static %}
<div class="form-group">
    <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
    <div class="position-relative">
        <input id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="text" class="form-control datetimepicker"
               {% if field.value and field.value != "NULL" %}value="{{ field.value|date:'Y-m-d' }}"{% endif %}>
    </div>
</div>
{% addtoblock "css" %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui-timepicker-addon.css' %}">
{% endaddtoblock %}
{% addtoblock "js" %}
    <script>
    $('.datetimepicker').datetimepicker({
        timeFormat: "HH:mm"
    });
    </script>
{% endaddtoblock %}