{% load sekizai_tags %}
<div class="form-group">
    <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
    <div class="position-relative">
        <input id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="text" class="form-control datepicker"
               {% if field.value and field.value != "NULL" %}value="{{ field.value|date:'Y-m-d' }}" {% elif profile_initial %} value="{{ profile_initial|date:'Y-m-d' }}"{% endif %} {% if field.field.required %} required{% endif %}>
    </div>
    {% if field.help_text %}<span style="font-size: small">{{ field.help_text }}</span>{% endif %}
</div>
{% addtoblock "css" %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
{% endaddtoblock %}
{% addtoblock "js" %}
    <script>
        $('body').on('focus', ".datepicker", function () {
            if ($(this).hasClass('hasDatepicker') === false) {
                $(this).datepicker({
                        changeMonth: true,
                        changeYear: true,
                        yearRange: "-99:+10",
                        dateFormat: "yy-mm-dd"
                    {% comment %}{% if field.field.widget.attrs.dateformat %} ,
                        dateFormat: '{{ field.field.widget.attrs.dateformat}}'
                    {% endif %}{% endcomment %}
            })
                ;
            }

        });
    </script>
{% endaddtoblock %}