<div class="form-group">
    <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
    <div>
        <select name="{{ field.html_name }}" class="selectpicker">
            {% if field.allow_null or field.allow_blank %}
                <option value="" {% if not field.value %}selected{% endif %}>--------</option>
            {% endif %}
            {% for value,text in field.field.widget.choices %}
                {% if select.start_option_group %}
                    <optgroup label="{{ select.label }}">
                        {% elif select.end_option_group %}
                    </optgroup>
                {% else %}
                    <option value="{{ value }}"{% if field.value == value or field.value|add:"0" == value %}
                            selected{% endif %}>{{ text }}</option>
                {% endif %}
            {% endfor %}
        </select>
     {% if field.help_text %}<span>{{ field.help_text|safe }}</span>{% endif %}
    </div>
</div>