<div class="form-group" data-field-id="{{ field.field.widget.attrs.id }}">
    <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
    <div class="position-relative">
        <input type="email" id="{{ field.id_for_label }}" name="{{ field.html_name }}"
               class="form-control {% if field.field.required %}required{% endif %}" {% if field.value and field.value != "NULL" %}value="{{ field.value }}"{% endif %} placeholder="">
            <div class="error-input"><span>Invalid Input</span> <i class="fa fa-exclamation-circle" aria-hidden="true"></i></div>

    </div>
</div>