{% load form_builder_tags %}
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
<style>
    .form-group {
        display: initial;
    }
</style>
{% with legend_count=0 %}
{% for field in form.visible_fields %}
    {% get_template_for_field field as template_name %}
    {% get_field_widget_for_field field as field_widget %}
    {% get_field_profile_initial field request.user as profile_initial %}
    {% is_field_hidden_by_default object field as is_hidden %}
    {% is_field_unique_form_tree object field as unique_form_tree %}
    {% get_dependent_choices object field as dependent_choice %}
<div class="field_wrapper {% if is_hidden %}hidden hidden_by_default {% else %} visible_select{% endif %} {% if dependent_choice %} dependent_field{% endif %} {% if unique_form_tree %} unique_form_tree {% endif %} {{dependent_choice}}">
    {% if field.field.widget.above_field_paragraph %}
        <div class="form_builder_before_field">{{ field.field.widget.above_field_paragraph|safe }}</div>
    {% endif %}
    <div class="form_builder_field">
        {% if field.name == "DELETE" or field_widget == "NoReCaptchaWidget" or is_hidden %}
        {% update_variable legend_count|add:1 as legend_count %}
        {% include template_name %}
            {% if is_hidden %}
            <label class="control-label" style="vertical-align: top;"></label>
            {% endif %}
        {% else %}
        <label class="control-label" style="vertical-align: top;">{{ forloop.counter|subtract:legend_count }}.&emsp;</label>{% include template_name %}
        {% endif %}
    </div>
    {% if field.field.widget.below_field_paragraph %}
        <div class="form_builder_after_field">{{ field.field.widget.below_field_paragraph|safe }}</div>
    {% endif %}
</div>
{% endfor %}
{% endwith %}