{% load i18n %}
{% load form_builder_tags sekizai_tags %}
<div class="form-group">
    {% is_formbuilder_form object as is_formbuilder_form %}
    {% if is_formbuilder_form %}
        <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.widget.attrs.initial_required or field.field.required and field.label %} * {% endif %}</label>
        <input class="form_builder_file {% if field.field.required %}required{% endif %}" type="file" name="{{ field.html_name }}" id="{{ field.id_for_label }}" value="{{ field.value }}">
        {% if field.help_text %}<span style="font-size: small">{{ field.help_text }}</span>{% endif %}
        {% if field.value %}
             <div class="MultiFile-label new">
                <span>
                    <span class="MultiFile-title" title="">
                        <a href="{% if 'http://' in field.value or 'https://' in field.value %} {{field.value}} {% else %}{{ MEDIA_URL }}{{ field.value }}{% endif %}" target="_blank"><span class="MultiFile-title">{{ field.value|get_filename }}</span></a>
                    </span>
                </span>
             </div>
        {% endif %}
        {% if field.field.initial %}
             <div class="MultiFile-label new">
                <span>
                    <span class="MultiFile-title" title="">
                        <a href="{% if 'http://' in field.field.initial or 'https://' in field.field.initial %} {{field.field.initial}} {% else %}{{ MEDIA_URL }}{{ field.field.initial }}{% endif %}" target="_blank"><span class="MultiFile-title">{{ field.field.initial|get_filename }}</span></a>
                    </span>
                </span>
             </div>
        {% endif %}
    {% else %}
        <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.widget.attrs.initial_required or field.field.required and field.label %} * {% endif %}{% if field.field.widget.attrs.class == 'multiple' %}<span class="note"> ({% trans 'Upload Multiple Documents' %})</span>{% endif %}</label>
        <div class="file-upload">
            <input type="text" readonly class="form-control">
            <div class="upload-btn">{% trans 'Upload' %}
                <input name="{{ field.html_name }}" value="{{ field.value }}" type="file" class="form_builder_file {{ field.html_name }}">
            </div>
        {% if field.help_text %}<span style="font-size: small">{{ field.help_text }}</span>{% endif %}
        </div>
         <div class="error-message help-block no-delete"></div>
        {% if field.errors %}
            <div style="color: red"><i class="fa fa-exclamation-circle" aria-hidden="true">{{field.errors}}</i></div>
        {% endif %}
        <div class="docs-file-list {{ field.html_name }}">
        {% if field.value %}
             <div class="MultiFile-label new">
                <span>
                    <span class="MultiFile-label" title="">
                        <a href="{% if 'http://' in field.value or 'https://' in field.value %} {{field.value}} {% else %}{{ MEDIA_URL }}{{ field.value }}{% endif %}" target="_blank"><span class="MultiFile-title">{{ field.value|get_filename }}</span></a>
                    </span>
                </span>
            </div>
            {% endif %}
            {% if field.field.initial %}
             <div class="MultiFile-label new">
                <span>
                    <span class="MultiFile-title" title="">
                        <a href="{% if 'http://' in field.field.initial or 'https://' in field.field.initial %} {{field.field.initial}} {% else %}{{ MEDIA_URL }}{{ field.field.initial }}{% endif %}" target="_blank"><span class="MultiFile-title">{{ field.field.initial|get_filename }}</span></a>
                    </span>
                </span>
             </div>
        {% endif %}
        </div>
    {% endif %}
</div>
{% if not is_formbuilder_form %}
    <script type="text/javascript">
        $("input[type=file].{{ field.html_name }}").MultiFile({
            list: ".docs-file-list.{{ field.html_name }}",
            onFileSelect: function (element, value, master_element) {
                selectFileExtention(value, ".docs-file-list.{{ field.html_name }}");
            }
        });
    </script>
{% endif %}