{% load i18n %}
<div class="form-group" data-field-id="{{ field.field.widget.attrs.id }}">
    <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
    <div class="position-relative">
        <input id="{{ field.id_for_label }}" name="{{ field.html_name }}" {% if field.value and field.value != "NULL" %}value="{{ field.value }}"{% elif profile_initial %}value="{{ profile_initial }}"{% endif %}
               type="text" class="form-control {% if field.field.required %}required{% endif %}" placeholder="" {% if field.field.required %}required{% endif %}>
    <div class="error-input"><span>Invalid Input</span> <i class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
        {% if field.help_text %}
            <span class="help-block">{{ field.help_text|safe }}</span>
        {% endif %}

    {% if field.errors %}
    <div style="color: red"><i class="fa fa-exclamation-circle" aria-hidden="true">{{field.errors}}</i></div>
    {% endif %}
    </div>
</div>