{# add a template tag to get the initial value of the text field wehn edit using field_entry id, Also remove the lable when edit in Admin #}

<div class="form-group other-choice interest" data-field-id="{{ field.field.widget.attrs.id }}">
    <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
    <ul class="vertical-list options">
        {% for value, text in field.field.widget.choices %}
            <li class="checkbox multiple_input"><label>
                <input {% if value|slugify in field.field.initial  %}checked="checked"{% endif %}
                       class="choice-input-button"
                       value="{{ value }}" type="checkbox" name="{{ field.html_name }}"><span>{{ text }}</span></label>
                {% if value in field.field.triggers %}
                <br>
                <input {% if field.field.initial.1 %}value="{{ field.field.initial.1 }}" {% endif %}
                       class="form-control choice-input-text" name="{{ field.html_name }}_extraEntry_{{value}}" type="text">
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if field.help_text %}<span style="font-size: small">{{ field.help_text }}</span>{% endif %}
</div>
