<div class="form-group">
    <label class="control-label"> {% if field.label %} {{ field.label }} {% endif %}{% if field.field.required %} *{% endif %}</label>
    <div class="position-relative">
        <input type="number" {% if field.value and field.value != "NULL"  %}value="{{ field.value }}"{% endif %}
               class="form-control" name="{{ field.html_name }}"></div>
           <div class="error-input"><span>Invalid Input</span> <i class="fa fa-exclamation-circle" aria-hidden="true"></i></div>

</div>