<div class="form-group password">
    <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
    <div class="position-relative input-holder">
        <input id="{{ field.id_for_label }}" type="password" name="{{ field.html_name }}"
               {% if field.value %}value="{{ field.value }}"{% endif %} class="form-control {% if field.field.required %}required{% endif %}">
        <span class="fa fa-eye show-pass" aria-hidden="true"></span>
    </div>
</div>

