{% load static %}
<div class="form-group message-area">
    <label class="control-label"> {% if field.label %} {{ field.label|safe }}{% endif %}{% if field.field.required %} *{% endif %}</label>
    <div class="textarea-wrapper">
        <textarea id="{{ field.html_name }}" name="{{ field.html_name }}" class="form-control {% if field.field.required %}required{% endif %} richtext_field" placeholder="">{% if field.value %}{{ field.value }}{% endif %}</textarea>
    <div class="textarea-clone"></div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>
<script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    var els = document.getElementsByClassName( 'richtext_field' );
    Array.prototype.forEach.call(els, function(el){
        el.classList.remove("richtext_field");
        ClassicEditor
        .create( el )
        .catch( error => {
                console.error( error );
        } );
    });
</script>