{% if field.html_name == 'education' %}
    <div class="form-group education">
        <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
        <ul class="list-inline">
            {% for value,text in field.field.choices %}
                {% if value %}
                <li {% if not field.value and forloop.counter == 2  %}class="active"{% endif %} {% if field.value == value %}class="active"{% endif %}>
                    <input {% if not field.value and forloop.counter == 2  %}checked="checked"{% endif %} value="{{ value }}" {% if field.value == value %}checked="checked"{% endif %}
                           type="radio" name="{{ field.html_name }}" {% if field.field.required %} required{% endif %}><span>{{ text }}</span></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% else %}
    <div class="form-group">
        <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
        <div>
            <select name="{{ field.html_name }}" class="selectpicker" data-live-search="true" {% if field.field.required %} required{% endif %}>
                {% if field.allow_null or field.allow_blank %}
                    <option value="" {% if not field.value %}selected{% endif %}>--------</option>
                {% endif %}
                {% for value,text in field.field.choices %}
                    {% if select.start_option_group %}
                        <optgroup label="{{ select.label }}">
                            {% elif select.end_option_group %}
                        </optgroup>
                    {% else %}
                        <option value="{{ value }}"{% if field.value == value or field.value|add:"0" == value %}
                                selected{% endif %}>{{ text }}</option>
                    {% endif %}
                {% endfor %}
            </select>
         {% if field.help_text %}<span>{{ field.help_text|safe }}</span>{% endif %}
        </div>
    </div>
{% endif %}