<div class="form-group interest" data-field-id="{{ field.field.widget.attrs.id }}">
    <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
    <ul class="vertical-list options">
        {% for value, text in field.field.widget.choices %}
            <li class="checkbox multiple_input"><label>
                <input {% if value|slugify in field.field.initial %}checked="checked"{% endif %}
                       class="choice-input-button"
                       value="{{ value }}" type="checkbox" name="{{ field.html_name }}"><span>{{ text }}</span></label>
            </li>
        {% endfor %}
    </ul>

    {% if field.help_text %}<span style="font-size: small">{{ field.help_text }}</span>{% endif %}
</div>
