{% load static %}
<style>
.smileys input[type="radio"] {
     -webkit-appearance: none;
     width: 60px;
     height: 60px;
     border: none;
     cursor: pointer;
     transition: border 0.2s ease;
     filter: grayscale(100%);
     margin: 0 5px;
     transition: all 0.2s ease;
}
.smileys input[type="radio"]:hover, .smileys input[type="radio"]:checked {
	 filter: grayscale(0);
}
.smileys input[type="radio"]:focus {
	 outline: 0;
}
.smileys input[type="radio"].happy {
	 background: url('https://res.cloudinary.com/turdlife/image/upload/v1492864443/happy_ampvnc.svg') center;
	 background-size: cover;
}
.smileys input[type="radio"].neutral {
	 background: url('https://res.cloudinary.com/turdlife/image/upload/v1492864443/neutral_t3q8hz.svg') center;
	 background-size: cover;
}
.smileys input[type="radio"].sad {
	 background: url('https://res.cloudinary.com/turdlife/image/upload/v1492864443/sad_bj1tuj.svg') center;
	 background-size: cover;
}
</style>
<div class="form-group smileys" data-field-id="{{ field.field.widget.attrs.id }}">
    <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
    <!--<ul class="list-inline options list-inline-stack-767">-->
                <input value="Sad" {% if field.value|add:"0" == "Sad" %}checked="checked"{% endif %}
                class="sad smileys  {% if field.field.required %}required{% endif %}
                {% if field.field.widget.attrs %} {{ field.field.widget.attrs.class }}{% endif %}" type="radio" name="{{ field.html_name }}"
                {% if field.field.widget.attrs.options %}options="{{ field.field.widget.attrs.options|safe }}"{% endif %}
                >
                <input value="Neutral" {% if field.value|add:"0" == "Neutral" %}checked="checked"{% endif %}
                class="neutral smileys  {% if field.field.required %}required{% endif %}
                {% if field.field.widget.attrs %} {{ field.field.widget.attrs.class }}{% endif %}" type="radio" name="{{ field.html_name }}"
                {% if field.field.widget.attrs.options %}options="{{ field.field.widget.attrs.options|safe }}"{% endif %}
                >
                <input value="Happy" {% if not field.value or field.value|add:"0" == "Happy" %}checked="checked"{% endif %}
                class="happy smileys  {% if field.field.required %}required{% endif %}
                {% if field.field.widget.attrs %} {{ field.field.widget.attrs.class }}{% endif %}" type="radio" name="{{ field.html_name }}"
                {% if field.field.widget.attrs.options %}options="{{ field.field.widget.attrs.options|safe }}"{% endif %}
                >
    <!--</ul>-->
    <div>{{ field.help_text }}</div>
</div>
