{% load static %}
<style>
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}
</style>
<div class="form-group" data-field-id="{{ field.field.widget.attrs.id }}">
    <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
    <div class="rating">
        <label>
            <input type="radio" value="1"
                {% if field.value|add:"0" == "1" %}checked="checked"{% endif %}
                {% if field.field.required %}required{% endif %}
                {% if field.field.widget.attrs %} {{ field.field.widget.attrs.class }}{% endif %}" type="radio" name="{{ field.html_name }}"
                {% if field.field.widget.attrs.options %}options="{{ field.field.widget.attrs.options|safe }}"{% endif %}

            />
            <span class="icon">★</span>
        </label>
        <label>
            <input type="radio" value="2"
                {% if field.value|add:"0" == "2" %}checked="checked"{% endif %}
                {% if field.field.required %}required{% endif %}
                {% if field.field.widget.attrs %} {{ field.field.widget.attrs.class }}{% endif %}" type="radio" name="{{ field.html_name }}"
                {% if field.field.widget.attrs.options %}options="{{ field.field.widget.attrs.options|safe }}"{% endif %}
            />
            <span class="icon">★</span>
            <span class="icon">★</span>
        </label>
        <label>
            <input type="radio" value="3"
                {% if field.value|add:"0" == "3" %}checked="checked"{% endif %}
                {% if field.field.required %}required{% endif %}
                {% if field.field.widget.attrs %} {{ field.field.widget.attrs.class }}{% endif %}" type="radio" name="{{ field.html_name }}"
                {% if field.field.widget.attrs.options %}options="{{ field.field.widget.attrs.options|safe }}"{% endif %}
            />
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
        </label>
        <label>
            <input type="radio" value="4"
                {% if field.value|add:"0" == "4" %}checked="checked"{% endif %}
                {% if field.field.required %}required{% endif %}
                {% if field.field.widget.attrs %} {{ field.field.widget.attrs.class }}{% endif %}" type="radio" name="{{ field.html_name }}"
                {% if field.field.widget.attrs.options %}options="{{ field.field.widget.attrs.options|safe }}"{% endif %}
            />
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
        </label>
        <label>
            <input type="radio" value="5"
                {% if not field.value or field.value|add:"5" == "1" %}checked="checked"{% endif %}
                {% if field.field.required %}required{% endif %}
                {% if field.field.widget.attrs %} {{ field.field.widget.attrs.class }}{% endif %}" type="radio" name="{{ field.html_name }}"
                {% if field.field.widget.attrs.options %}options="{{ field.field.widget.attrs.options|safe }}"{% endif %}
            />
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
        </label>
    </div>
    <div>{{ field.help_text }}</div>
</div>
