{% load wizard_tags i18n %}
{% get_previous_url request.user form.token object as prev_url %}
{% if object.use_verification %}
<a href="#" class="btn btn-primary text-center" id="login-modal-trigger" data-toggle="modal" data-target="#login-modal">{% trans 'Submit' %}</a>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body show">
                    <div class="loginmodal-container">
                        <h1>{% trans 'Please Enter Your Code' %}</h1>
                        <div class="form-group">
                            <label class="control-label">{% trans 'Enter your code ' %} *</label>
                            <div class="position-relative">
                                <input name="verification_code" type="text" class="form-control required" placeholder="">
                                <div class="error-input"><span>Invalid Input</span> <i class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
                            </div>
                        </div>
                        <div class="div">
                            <input type="submit" name="submit" class="btn btn-primary btn-block" value="{% trans 'Submit Now' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    {% if prev_url %}
        <div class="row stack-on-500">
            <div class="col-xs-6 mb-20-on-500">
                <a href="{{ prev_url }}" class="btn btn-default btn-block">{% trans 'Go Back' %}</a>
            </div>
            <div class="col-xs-6">
                <input type="submit" name="submit" class="btn btn-primary btn-block" value="{% trans 'Continue' %}">
            </div>
        </div>
    {% else %}
        <div class="div submit_wrapper">
            <input type="submit" name="submit" class="btn btn-primary btn-block" value="{% trans 'Submit' %}">
        </div>
    {% endif %}
{% endif %}