<div class="form-group message-area">
    <label class="control-label"> {% if field.label %} {{ field.label|safe }}{% endif %}{% if field.field.required %} *{% endif %}</label>
    <div class="textarea-wrapper">
        <textarea name="{{ field.html_name }}" class="form-control {% if field.field.required %}required{% endif %}"
                  placeholder="" {% if field.field.max_length %} maxlength="{{ field.field.max_length }}"{% endif %}>{% if field.value %}{{ field.value }}{% endif %}</textarea>
    <div class="textarea-clone"></div>
    </div>
</div>