<div class="form-group">
    <label class="control-label">{% if field.label %} {{ field.label }}{% endif %}{% if field.field.required %} *{% endif %}</label>
    <div class="position-relative">
        <input type="url" class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}"
               {% if field.value %}value="{{ field.value }}"{% endif %} {% if field.field.required %}required{% endif %}>
    </div>
</div>
