{% extends 'admin/base.html' %}
{% load i18n staticfiles wizard_tags %}
{% load form_builder_tags %}

{% block extrastyle %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form_builder/form_builder_admin.css' %}" />
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static 'css/form_builder/form_builder_admin_ar.css' %}" />{% endif %}
{% endblock %}

{% block content %}
<script>
    function openForm(evt, formName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(formName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
<div class="form_builder_header" >
    <div class="form_builder_header form_builder_reff">
        <h2 class="form_builder_reff_lable">{% trans 'Refference:' %} </h2>&nbsp;&nbsp<h2 class="form_builder_reff_value">  {{ object.id }}</h2>
    </div>
    <div class="form_builder_header form_builder_state ">
        <h2 class="form_builder_reff_lable">{% trans 'Status:' %} </h2>&nbsp;&nbsp;<h2 class="form_builder_reff_value">
        {% if object.cancel_status %}
            {{ object.get_cancel_status_display }}
        {% elif workflow.get_next_step and workflow.get_next_step.get_children %}
            {{ workflow.get_next_step.state }}
        {% else %}
            {{ workflow.state }}
        {% endif %}</h2>
    </div>
</div>
<div class="form_builder_header">
     <ul class="object-tools">
         {% if object.cancel_status == 'cancel_request' %}
         <li>
            <button id="approve_cancel_request" type="button" class="button approve_cancel_submission">{% trans 'Approve Cancel Request' %}</button>
        </li>
         <li>
            <button id="reject_cancel_request" type="button" class="button reject_cancel_submission">{% trans 'Reject Cancel Request' %}</button>
        </li>
         {% endif %}
         {% if object.cancel_status != 'approve_cancel' and workflow.get_children and not workflow.get_next_step %}
            {% for action in workflow.get_children %}
                {% has_workflow_permission request action as has_action_permission %}
                {% if has_action_permission %}
                    {% if action.get_children %}
                        {% for child_action in action.get_children %}
                            <li>
                                <button id="modal_btn_{{child_action.slug}}" type="button" class="button" data-toggle="modal" data-target="#{{child_action.slug}}">{{child_action.name}}</button>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>
                            <button id="modal_btn_{{action.slug}}" type="button" class="button" data-toggle="modal" data-target="#{{action.slug}}">{{action.name}}</button>
                        </li>
                    {% endif %}
                {% endif %}
             {% endfor %}
         {% elif object.cancel_status != 'approve_cancel' and not object.workflow_state %}
            {% has_workflow_permission request workflow as he_has_workflow_permission %}
            {% if he_has_workflow_permission and workflow %}
             <li>
                 <button id="modal_btn_{{workflow.slug}}" type="button" class="button" data-toggle="modal" data-target="#{{workflow.slug}}">{{workflow.name}}</button>
             </li>
            {% endif %}
         {% elif object.cancel_status != 'approve_cancel' and workflow.get_next_step and not workflow.get_next_step.get_children %}
            {% has_workflow_permission request workflow.get_next_step as has_next_step_permission %}
            {% if has_next_step_permission %}
                <li>
                     <button id="modal_btn_{{workflow.get_next_step.slug}}" type="button" class="button" data-toggle="modal" data-target="#{{workflow.get_next_step.slug}}">{{workflow.get_next_step.name}}</button>
                 </li>
            {% endif %}
         {% elif object.cancel_status != 'approve_cancel' and workflow.get_next_step and workflow.get_next_step.get_children %}
            {% has_workflow_permission request workflow.get_next_step as has_next_step_permission %}
            {% if has_next_step_permission %}
                {% if workflow.get_next_step.get_children %}
                    {% for child_action in workflow.get_next_step.get_children %}
                        <li>
                            <button id="modal_btn_{{child_action.slug}}" type="button" class="button" data-toggle="modal" data-target="#{{child_action.slug}}">{{child_action.name}}</button>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>
                        <button id="modal_btn_{{workflow.get_next_step.slug}}" type="button" class="button" data-toggle="modal" data-target="#{{workflow.get_next_step.slug}}">{{action.name}}</button>
                    </li>
                {% endif %}
            {% endif %}
         {% endif %}
        {% if object.form.print_template %}
         <li>
             <a type="button" class="button" target="_blank" href="{% url 'form_builder:print_submit' pk=object.id %}">{% trans 'Print' %}</a>
         </li>
        {% endif %}
    </ul>
</div>
<div class="tab">
    {% for form_name in all_workflow_forms_name %}
        <button class="tablinks {% if forloop.counter == 1 %} active {% endif %}" onclick="openForm(event, '{{ form_name }}')">{{ form_name }} ({{ forloop.counter }})</button>
    {% endfor %}
    {% for form_name in all_forms_name %}
        <button class="tablinks {% if all_workflow_forms_name|length == 0 and forloop.counter == 1 %} active {% endif %}" onclick="openForm(event, '{{ form_name }}')">{{ form_name }}</button>
    {% endfor %}
    {% if workflow.is_state_after_resubmit %}
        <button class="tablinks" onclick="openForm(event, 'resubmitted_data')">{% trans 'Resubmitted Data' %}</button>
    {% endif %}
</div>

<!-- Tab content -->
{% for form_name in all_workflow_forms %}
<div id="{{ form_name }}" class="tabcontent {% if forloop.counter == 1 %} active {% endif %}" {% if forloop.counter == 1 %} style="display: block;" {% endif %}>
  <!--<h5>{{form_name}}</h5>-->
  <form action="" method="post" enctype="multipart/form-data" class="formbuilder">
      {% csrf_token %}
      <input type="hidden" id="form_name_id" name="form_name" value="{{ form_name }}">
      {% for a_form in all_workflow_forms|get_value_from_dict:form_name %}
        <table style="width:100%" class="rest-form">
            <tr>
                <th>{% trans 'Field Name' %}</th>
                <th>{% trans 'Field Value' %}</th>
            </tr>
            {% for field in a_form.visible_fields %}

            <tr>
                <td>
                    <label class="">
                        {{ field.label }}
                    </label>
                </td>
                <td>
                    {% if field.field.widget.input_type == "file" %}
                    {{ initial_values|get_value_from_dict:form_name|get_value_from_dict:field.name|safe }}
                    <br>
                    {% endif %}
                    {% if a_form.form_model.enable_edit_submit %}
                    {% get_template_for_field_submit_detail field as template_name %}
                    {% include template_name %}
                    {% else %}
                    {{ initial_values_dispaly|get_value_from_dict:form_name|get_value_from_dict:field.name|safe }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% if a_form.form_model.use_verification %}
            <tr>
                <td>{% trans 'Verified Company' %}</td>
                <td>{{ verified_company }}</td>
            </tr>
            <tr>
                <td>{% trans 'Verified Email' %}</td>
                <td>{{ verified_email }}</td>
            </tr>
            {% endif %}
        </table>
        {% if a_form.form_model.enable_edit_submit %}<input type="submit" value="Submit">{% endif %}
      {% endfor %}
  </form>
</div>
{% endfor %}

<!-- Tab content -->
<form id="form_submit" action="" method="post" enctype="multipart/form-data" class="formbuilder">
{% for form_name in all_forms_name %}
{% with a_form=all_entry_forms|get_value_from_dict:form_name %}
<div id="{{ form_name }}" class="tabcontent {% if all_workflow_forms|length == 0 and forloop.counter == 1 %} active {% endif %}" {% if all_workflow_forms|length == 0 and forloop.counter == 1 %} style="display: block;" {% endif %}>
  <!--<h5>{{form_name}}</h5>-->

      {% csrf_token %}
      <input type="hidden" id="form_name_id" name="form_name" value="{{ form_name }}">
      {% if object.is_sent_resubmit %}<input type="hidden" name="re_submit_fields" value="True">{% endif %}

                {% with n=form_name|cut:a_form.form_model.name %}
                    <table style="width:100%" class="rest-form">
                        <tr>
                            <th>{% trans 'Field Name' %}</th>
                            <th>{% trans 'Field Value' %}</th>
                            {% if object.is_sent_resubmit %}<th>{% trans 'Enable Re-submit' %}</th>{% endif %}
                        </tr>
                        {% for field in a_form.visible_fields %}
                        <tr>
                            <td>
                                <label class="">
                                    {{ field.label }}
                                </label>
                            </td>
                            {% with field_name_formset=field.name|add:n %}
                                <td>
                                    {% if a_form.form_model.enable_edit_submit %}
                                        {% get_template_for_field_submit_detail field as template_name %}
                                        {% add_entry_to_field_name field all_entry_forms_entry_obj|get_value_from_dict:form_name as field  %}
                                        {% include template_name %}
                                    {% else %}
                                        {% if field.field.widget.input_type == "file" %}
                                            {{ initial_values|get_value_from_dict:form_name|get_value_from_dict:field.name|safe }}
                                            <br>
                                        {% else %}
                                            {{ initial_values_dispaly|get_value_from_dict:form_name|get_value_from_dict:field.name|safe }}
                                        {% endif %}
                                    {% endif %}

                                </td>
                                {% if object.is_sent_resubmit %}
                                <td>
                                    {% with field_entry=initial_values_dispaly_by_slug_entry_id|get_value_from_dict:form_name|get_value_from_dict:field.name %}
                                    {% field_is_resubmit a_form.form_model.id field.name object.id field_entry as field_is_resubmit %}
                                    <input type="checkbox" name="{{a_form.form_model.id}}_resubmitprefix_{{field.name}}_resubmitprefix_{{field_entry}}" {% if field_is_resubmit %}checked{% endif %}>
                                    {% endwith %}
                                </td>
                                {% endif %}
                            {% endwith %}
                        </tr>
                        {% endfor %}
                        {% if a_form.form_model.use_verification %}
                        <tr>
                            <td>{% trans 'Verified Company' %}</td>
                            <td>{{ verified_company }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Verified Email' %}</td>
                            <td>{{ verified_email }}</td>
                        </tr>
                        {% endif %}
                    </table>
                {% endwith %}
              {% if a_form.form_model.enable_edit_submit %}<input type="submit" value="Submit">{% endif %}

</div>
{% endwith %}
{% endfor %}
</form>

<div id="resubmitted_data" class="tabcontent">
    <table style="width:100%" class="rest-form">
        <tr>
            <th>{% trans 'Field Name' %}</th>
            <th>{% trans 'Field Value' %}</th>
        </tr>
        {% for resubmit_field in object.resubmitfields_set.all %}
        <tr>
            <td>
                <label class="">
                    {{ resubmit_field.field.label }} - {{ resubmit_field.form.name }}{% if resubmit_field.form.is_formset %}_{{ resubmit_field.get_formset_index }}{% endif %}
                </label>
            </td>
            <td>
                {{ resubmit_field.get_html_value|safe }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" id="accept_resubmission" name="accept_resubmission" value="True">
        <input type="submit" value="Accept Resubmission">
    </form>
</div>
{% include 'form_builder/partial/detail_admin_workflow_modals.html' %}

<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("{{ all_forms_name.0 }}").click();
</script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script>
$('.other-choice-button').bind('change', function(e){
    if ($(this).is(':checked') && $(this).hasClass('other-choice-trigger')) {
        $(this).parents('ul').next().next().show();
    } else {
        $(this).parents('ul').next().next().hide();
    }
});
$('.other-choice-trigger').each(function(){
    if ($(this).is(':checked')) {
        $(this).parents('ul').next().next().show();
    }
})


function perform_action(id){
    {% if object.is_sent_resubmit %}
        var data_to_send = {...$('#form_submit').serialize(), ...{action_id: id, csrfmiddlewaretoken: '{{ csrf_token }}'} };
        $.ajax({
          type: "POST",
          url: "",
          data: data_to_send,
          success: function(data){
            if (data == "Done") {
                window.location.reload();
            };
          },
        });
    {% else %}
        $.ajax({
          type: "POST",
          url: "",
          data: {action_id: id, csrfmiddlewaretoken: '{{ csrf_token }}'},
          success: function(data){
            if (data == "Done") {
                window.location.reload();
            };
          },
        });
    {% endif %}
}

$('.approve_cancel_submission').on('click',function(){
    var submit_id = {{ object.id }};
    $.post("{% url 'form_builder:cancel_submission_status' %}?submit_id=" + submit_id + "&action=approve_cancel",
      {
        submit_id: submit_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      function(data, status){
        if (data == "Done"){
            <!--toastr.success('{% trans "cancel submission successfully" %}');-->
            window.location.reload();
        } else {
            toastr.error('{% trans "Failed to cancel submission" %}');

        }
      }
    );
});

$('.reject_cancel_submission').on('click',function(){
    var submit_id = {{ object.id }};
    $.post("{% url 'form_builder:cancel_submission_status' %}?submit_id=" + submit_id + "&action=reject_cancel",
      {
        submit_id: submit_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      function(data, status){
        if (data == "Done"){
            <!--toastr.success('{% trans "cancel submission successfully" %}');-->
            window.location.reload();
        } else {
            toastr.error('{% trans "Failed to cancel submission" %}');

        }
      }
    );
});

</script>

{% endblock %}
