{% extends 'base_form_builder.html' %}
{% load i18n static wizard_tags sekizai_tags %}

{% block content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/form_builder/form_builder.css' %}"/>
    {% endaddtoblock %}
    {% addtoblock 'js' %}
        <script src="{% url 'form_builder:javascript-catalog' %}"></script>
        <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
        <script src="{% static 'js/jquery-daf.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.ui.widget.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.iframe-transport.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.fileupload.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.formbuilder.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/zebra_datepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/eventsource.min.js' %}"></script>

        <script>
            jQuery(document).ready(function ($) {

                $('.formbuilder').each(function () {
                    var legend = $(this).find("legend");
                    if(legend.length > 0){
                     var formset_name = legend[legend.length-1].innerHTML
                    } else {
                        var formset_name = ""
                    }
                    var fb = new $.formBuilder($(this), {
                        addButtonTemplate: '<div class="add formset btn btn-primary form-group"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Add" %} formset_name </div>'.replace('formset_name', formset_name ),
                        fileBrowseMessage: '',
                        fileTemplate: '<div class="uploader file-upload"><div class="file-upload"><input type="text" readonly="" class="form-control" placeholder="Please choose a file"> <div class="upload-btn">{% trans 'Browse' %} <div class="MultiFile-wrap" template="upload-button" id="MultiFile1"> </div> </div> </div><div class="docs-file-list"><div class="MultiFile-label new"><span><span class="MultiFile-label" template="file-name"><span class="MultiFile-title"></span></span></span></div></div></div>',
                        fileUpload: '<input type="file" style="display: none;">',
                        fileName: '<span class="MultiFile-title"></span>',
                        fileProgressBar: false,


                        onRequiredFail: function(field){
                            toastr.error("{% trans 'Some fields are required' %}");
                            field.parentsUntil('.form-group').parent().addClass('has-error');
                            if (field.parent().next() && field.parent().next().hasClass('error-block')) {
                                field.parent().next().text("{% trans 'Field is required' %}");

                            }
                        },


                        onInit: function(form) {
                            var hidden_field = $("#hidden-field").val();
                            if(!hidden_field)
                                hidden_field = "";
                            $('.hidden-field').val(hidden_field.concat("-{{ object }}"));
                        },
                        onUpload: function (e, plugin) {
                          $(e.target).parents(plugin.settings.fileUploadHolderClass).find('.docs-file-list').show()
                        },
                        onSuccess: function (form, response) {
                            var message = "{% trans 'Thank you for filling out your information!' %}";
                            if(!response.success_message){
                                response.success_message = message
                            }
                            $('.message').html(message);
                            $('.formbuilder').hide();

                        },
                        onError: function (form, response) {
                            $(".form-group.has-error").removeClass('has-error');
                            $('.has-error .help-block').html("");
                            var data = response.responseJSON;
                            if (response.status == 400 && data['errors']) {
                                var errors = $.map(data['errors'], function (v, k) {
                                    if (k == 'error_message') {
                                        toastr.error(v);
                                    } else {
                                        if (k == '__all__')
                                            toastr.error(v);
                                        else {
                                            var field = $(form).find('[name=' + k + '],[name=' + k + '_0]');
                                            field.parentsUntil('.form-group').parent().addClass('has-error');
                                            if (field.parent().next() && field.parent().next().hasClass('help-block')) {
                                                field.parent().next().text(v);
                                            }
                                            else if(field.attr('type') == "file"){
                                                field.parent().parent().after('<div class="help-block">' + v + '</div>');
                                            }
                                            else {
                                                field.parent().after('<div class="help-block">' + v + '</div>');
                                            }
                                        }
                                    }
                                }).join('<br>');
                                response.responseJSON.errors = undefined;
                            }
                        }
                    });
                });
            });


        jQuery(window).on('load', function () {
            var i = jQuery('.display_field').attr('options');
            i = eval(i);
            if (i) {
                jQuery.each(i, function (index, value) {
                    jQuery('[data-field-id="'+value+'"]').hide();
                })
            };
        });
        jQuery('.display_field').click(function () {
            var id = jQuery(this).attr('options');
            id = eval(id);
            var index = jQuery(this).attr('data-index');
            if (index){
                jQuery.each(id, function (ind, val) {
                if (index == ind){
                    jQuery('[data-field-id="'+val+'"]').show();
                }
                else {
                    jQuery('[data-field-id="'+val+'"]').hide();
                }
            });
            }
        });


        jQuery(document).ready(function ($) {
            $("input[type='checkbox']").change(function(){
                if (this.checked){
                    $('.'+this.value).removeClass('hidden');
                    $('.'+this.value).find('input, textarea, select').not(':input[type=file]').prop('required',true);
                }
                if (!this.checked){
                    $('.'+this.value).addClass('hidden');
                    $('.'+this.value).find('input, textarea, select').not(':input[type=file]').prop('required',false);
                };
                $('input').each(function(){
                  if ($(this).prop('readonly')){
                    $(this).prop('required',false);
                  };
                });
            });
            function reset_select_hidden_field(){
              $("option").each(function(){
                if (this.value){
                  $('.'+this.value).addClass('hidden');
                };
              })
            };
            $("select").change(function(){

                reset_select_hidden_field();
                $("select").each(function(){
                  var that = this;
                  if (that.value){
                    $('.'+that.value).removeClass('hidden');
                    $('.'+that.value).find('input, textarea, select').not(':input[type=file]').prop('required',true);
                  };
                  $('input').each(function(){
                    if ($(that).prop('readonly')){
                      $(that).prop('required',false);
                    };
                  });
                });
            });
            //<!--clicks accumulate the history radio clicks-->
            var clicks = new Object();
            $("input[type='radio']").change(function(){
                if ( $(this).attr('name') in clicks){
                    if (this.checked){
                        clicks[$(this).attr('name')].push($(this).val());
                    };
                } else {
                    clicks[$(this).attr('name')] = [];
                    if (this.checked){
                        clicks[$(this).attr('name')].push($(this).val());
                    };
                };
                if (this.checked){
                    //<!--hide previous choice-->
                    var field_clicks = clicks[$(this).attr('name')]
                    $('.'+field_clicks[field_clicks.length-2]).addClass('hidden');
                    $('.'+field_clicks[field_clicks.length-2]).find('input, textarea, select').not(':input[type=file]').prop('required',false);

                    //<!--show current choice-->
                    $('.'+this.value).removeClass('hidden');
                    $('.'+this.value).find('input, textarea, select').not(':input[type=file]').prop('required',true);
                };
                $('input').each(function(){
                  if ($(this).prop('readonly')){
                    $(this).prop('required',false);
                  };
                });
            });
            $("input[type=radio]").trigger("change");
            $("input[type=checkbox]").trigger("change");
            $('input').each(function(){
              if ($(this).prop('readonly')){
                $(this).prop('required',false);
              };
            });
        });
    </script>
    {% endaddtoblock %}
    <div class="inner-wrapper">
        <div class="container">
            <div class="content-box">
                <h3 class="message text-center">{{ object.name }}</h3>
                    {{ object.description|safe }}
                <form method="POST" action="{% if True %} {{action_url}} {% else %}{% url 'form_builder:create' object.slug %}{% endif %}" class="form-area formbuilder" novalidate>
                {% if form_template %}
                    {% include form_template %}
                {% else %}
                    {% include 'form_builder/form.html' %}
                {% endif %}
                    <div class="clearfix"></div>
                    {% include 'form_builder/fields/submit.html' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}