{% load staticfiles i18n sekizai_tags %}
<!DOCTYPE HTML>
<html class="{% if LANGUAGE_BIDI %}ar{% endif %}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% trans "Form Builder" %}{% endblock title %}</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <meta name="description" content=" "/>
    <meta name="keywords" content=" "/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.min.css' %}"/>
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <!--[if lt IE 9]>
       <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" href="{% static 'css/bootstrap-rtl.min.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/stellarnav.css' %}">
    <link rel="stylesheet" href="{% static 'css/form_builder/form_builder.css' %}">
    {% block css %}{% endblock %}
    {% render_block "css" %}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-102481745-1', 'auto');
      ga('send', 'pageview');
    </script>
</head>
<body>
    <div id="page">
        {% block content %}
        {% endblock content %}
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-timepicker-addon.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup-options.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery-daf.js' %}"></script>
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltipster.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.lazyloadxt.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>

    <script src="{% static 'js/zabuto_calendar.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/stellarnav.js' %}"></script>
    <script src="{% static 'js/jquery.MultiFile.min.js' %}"></script>
    {% block js %} {% endblock js %}
    {% render_block "js" %}

</body>
</html>
