{% load i18n form_builder_tags %}

<div class="row">
    <div class="col-md-6">
        <h3 class="message text-center"></h3>
            {{ form_object.description|safe }}
        <form method="POST" action="" class="formbuilder" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <input name="workflow_form_id" value="{{ form_object.id }}" hidden>
            <input name="action_id_inform" value="{{ action_id }}" hidden>
            {% get_form_object form_object token request  as form %}
                {% include 'form_builder/form.html' %}
            <div class="clearfix"></div>
            {% include 'form_builder/fields/submit.html' %}
        </form>
    </div>
</div>