{% load i18n %}

{% if object.cancel_status != 'approve_cancel' and  workflow.get_children and not workflow.get_next_step %}
    {% for action in workflow.get_children %}
        {% if action.get_children %}
            {% for child_action in action.get_children %}
                <!-- Modal -->
                <div id="{{child_action.slug}}" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <span id="close_modal_{{child_action.slug}}" type="button" class="close" data-dismiss="modal">&times;</span>
                        <h4 class="modal-title">{% if child_action.action_form %}{% trans 'Required Form' %}{% else %}{% trans 'Action Confirmation' %}{% endif %}</h4>
                      </div>
                      <div class="modal-body">
                          {% if child_action.action_form %}
                            {% include 'form_builder/partial/detail_admin_workflow_modal_form.html' with form_object=child_action.action_form action_id=child_action.id %}
                          {% else %}
                          <p>{% trans 'Confirm the action ...' %}</p>
                          <button class="button" onclick="perform_action({{child_action.id}})">{{child_action.name}}</button>
                          {% endif %}
                      </div>
                    </div>

                  </div>
                </div>
                <script>
                var btn = document.getElementById("modal_btn_{{child_action.slug}}");
                var span = document.getElementById("close_modal_{{child_action.slug}}");
                btn.onclick = function() {
                  document.getElementById('{{child_action.slug}}').style.display = "block";
                }
                span.onclick = function() {
                  document.getElementById('{{child_action.slug}}').style.display = "none";
                }
                window.onclick = function(event) {
                  if (event.target == document.getElementById('{{child_action.slug}}')) {
                    document.getElementById('{{child_action.slug}}').style.display = "none";
                  }
                }
                </script>
            {% endfor %}
        {% else %}
            <!-- Modal -->
                <div id="{{action.slug}}" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <span id="close_modal_{{action.slug}}" type="button" class="close" data-dismiss="modal">&times;</span>
                        <h4 class="modal-title">{% if action.action_form %}{% trans 'Required Form' %}{% else %}{% trans 'Action Confirmation' %}{% endif %}</h4>
                      </div>
                      <div class="modal-body">
                          {% if action.action_form %}
                            {% include 'form_builder/partial/detail_admin_workflow_modal_form.html' with form_object=action.action_form action_id=action.id %}
                          {% else %}
                          <p>{% trans 'Confirm the action ...' %}</p>
                          <button class="button" onclick="perform_action({{action.id}})">{{ action.name }}</button>
                          {% endif %}
                      </div>
                    </div>

                  </div>
                </div>
                <script>
                var btn = document.getElementById("modal_btn_{{action.slug}}");
                var span = document.getElementById("close_modal_{{action.slug}}");
                btn.onclick = function() {
                  document.getElementById('{{action.slug}}').style.display = "block";
                }
                span.onclick = function() {
                  document.getElementById('{{action.slug}}').style.display = "none";
                }
                window.onclick = function(event) {
                  if (event.target == document.getElementById('{{action.slug}}')) {
                    document.getElementById('{{action.slug}}').style.display = "none";
                  }
                }
                </script>
        {% endif %}
     {% endfor %}

  {% elif object.cancel_status != 'approve_cancel' and not object.workflow_state %}
    <!-- Modal -->
    <div id="{{workflow.slug}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <span id="close_modal_{{workflow.slug}}" type="button" class="close" data-dismiss="modal">&times;</span>
            <h4 class="modal-title">{% if workflow.action_form %}{% trans 'Required Form' %}{% else %}{% trans 'Action Confirmation' %}{% endif %}</h4>
          </div>
          <div class="modal-body">
              {% if workflow.action_form %}
                {% include 'form_builder/partial/detail_admin_workflow_modal_form.html' with form_object=workflow.action_form action_id=workflow.id %}
              {% else %}
              <p>{% trans 'Confirm the action ...' %}</p>
              <button class="button" onclick="perform_action({{workflow.id}})">{{ workflow.name }}</button>
              {% endif %}
          </div>
        </div>

      </div>
    </div>
    <script>
    var btn = document.getElementById("modal_btn_{{workflow.slug}}");
    var span = document.getElementById("close_modal_{{workflow.slug}}");
    btn.onclick = function() {
      document.getElementById('{{workflow.slug}}').style.display = "block";
    }
    span.onclick = function() {
      document.getElementById('{{workflow.slug}}').style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == document.getElementById('{{workflow.slug}}')) {
        document.getElementById('{{workflow.slug}}').style.display = "none";
      }
    }
    </script>

 {% elif object.cancel_status != 'approve_cancel' and workflow.get_next_step and not workflow.get_next_step.get_children %}
    <!-- Modal -->
    <div id="{{workflow.next_step.slug}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <span id="close_modal_{{workflow.next_step.slug}}" type="button" class="close" data-dismiss="modal">&times;</span>
            <h4 class="modal-title">{% if workflow.action_form %}{% trans 'Required Form' %}{% else %}{% trans 'Action Confirmation' %}{% endif %}</h4>
          </div>
          <div class="modal-body">
              {% if workflow.next_step.action_form %}
                {% include 'form_builder/partial/detail_admin_workflow_modal_form.html' with form_object=workflow.next_step.action_form action_id=workflow.next_step.id %}
              {% else %}
              <p>{% trans 'Confirm the action ...' %}</p>
              <button class="button" onclick="perform_action({{workflow.next_step.id}})">{{ workflow.next_step.name }}</button>
              {% endif %}
          </div>
        </div>

      </div>
    </div>
    <script>
    var btn = document.getElementById("modal_btn_{{workflow.next_step.slug}}");
    var span = document.getElementById("close_modal_{{workflow.next_step.slug}}");
    btn.onclick = function() {
      document.getElementById('{{workflow.next_step.slug}}').style.display = "block";
    }
    span.onclick = function() {
      document.getElementById('{{workflow.next_step.slug}}').style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == document.getElementById('{{workflow.next_step.slug}}')) {
        document.getElementById('{{workflow.next_step.slug}}').style.display = "none";
      }
    }
    </script>

  {% elif  object.cancel_status != 'approve_cancel' and workflow.get_next_step and workflow.get_next_step.get_children %}
    {% for action in workflow.get_next_step.get_children %}
        <!-- Modal -->
        <div id="{{action.slug}}" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <span id="close_modal_{{action.slug}}" type="button" class="close" data-dismiss="modal">&times;</span>
                <h4 class="modal-title">{% if action.action_form %}{% trans 'Required Form' %}{% else %}{% trans 'Action Confirmation' %}{% endif %}</h4>
              </div>
              <div class="modal-body">
                  {% if action.action_form %}
                    {% include 'form_builder/partial/detail_admin_workflow_modal_form.html' with form_object=action.action_form action_id=action.id %}
                  {% else %}
                  <p>{% trans 'Confirm the action ...' %}</p>
                  <button class="button" onclick="perform_action({{action.id}})">{{action.name}}</button>
                  {% endif %}
              </div>
            </div>

          </div>
        </div>
        <script>
        var btn = document.getElementById("modal_btn_{{action.slug}}");
        var span = document.getElementById("close_modal_{{action.slug}}");
        btn.onclick = function() {
          document.getElementById('{{action.slug}}').style.display = "block";
        }
        span.onclick = function() {
          document.getElementById('{{action.slug}}').style.display = "none";
        }
        window.onclick = function(event) {
          if (event.target == document.getElementById('{{action.slug}}')) {
            document.getElementById('{{action.slug}}').style.display = "none";
          }
        }
        </script>
     {% endfor %}
 {% endif %}