@font-face {
    font-family: 'gothambold58f77dff5929d';
    src: url('fonts/gothambold58f77dff5929d.eot');
    src: url('fonts/gothambold58f77dff5929d.eot') format('embedded-opentype'),
         url('fonts/gothambold58f77dff5929d.woff2') format('woff2'),
         url('fonts/gothambold58f77dff5929d.woff') format('woff'),
         url('fonts/gothambold58f77dff5929d.ttf') format('truetype'),
         url('fonts/gothambold58f77dff5929d.svg#gothambold58f77dff5929d') format('svg');
}
